{% load static %}

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'hrindex' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                        class="nav-text">Dashboard</span></a></li>

                    <li class="nav-label">Vehicle Management</li>
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-chart-bar-33"></i><span class="nav-text">Attendance</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addattendance' %}">Add Attendance</a></li>
                                <li><a href="{% url 'attendancelist' %}">View Attendance</a></li>
                            </ul>
                        </li>
                    </li>
            
            </div>
        </div>
      