{% extends 'author/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item"><a href="{% url 'list_author_packages' %}" style="color: white !important;">View Packages</a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Add New Package</h6>
                    </div>
                </div>

                <div class="card-body">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Title</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg" id="title" name="title">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Package Category</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-lg" id="package_category" name="package_category">
                                    <option value="" selected disabled>Select Package Category</option>
                                    {% for obj in pclist %}
                                    <option value="{{ obj.package_category_id }}">{{ obj.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Description</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Top Attraction</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="top_attraction" name="top_attraction" rows="2"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Why Visit</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="why_visit" name="why_visit" rows="2"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Package Highlights</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="package_highlights" name="package_highlights" rows="3"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Image Link</label>
                            <div class="col-sm-12">
                                <input type="url" class="form-control form-control-lg" id="image_link" name="image_link">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg"
                                style="color: #454545; font-size: 16px;">Image</label>
                            <div class="col-sm-12">
                                <input type="file" class="form-control form-control-lg" id="image" name="image">
                                <img id="preview1" src="#" alt="Image Preview"
                                    style="display: none; max-width: 100px; margin-top: 10px;">
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Facebook Link</label>
                            <div class="col-sm-12">
                                <input type="url" class="form-control form-control-lg" id="facebook_link" name="facebook_link">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Instagram Link</label>
                            <div class="col-sm-12">
                                <input type="url" class="form-control form-control-lg" id="instagram_link" name="instagram_link">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">WhatsApp Link</label>
                            <div class="col-sm-12">
                                <input type="url" class="form-control form-control-lg" id="whatsapp_link" name="whatsapp_link">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg"
                                style="color: #454545; font-size: 16px;">Tags</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg" id="tags" name="tags">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Title</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg" id="meta_title" name="meta_title">
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Description</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="meta_description" name="meta_description" rows="2"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Keywords</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="meta_keywords" name="meta_keywords" rows="2"></textarea>
                            </div>
                        </div>
                        <br>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">H1 Tag</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg" id="h1tag" name="h1tag">
                            </div>
                        </div>
                        <br>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mb-2" id="save_package">Submit</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_package").click(function (event) {
            event.preventDefault(); // Prevent the default form submission

            console.log("Save button clicked"); // Debugging log
            var title = $('#title').val();
            var package_category = $('#package_category').val();
            var description = $('#description').val();
            var top_attraction = $('#top_attraction').val();
            var why_visit = $('#why_visit').val();
            var package_highlights = $('#package_highlights').val();
            var image_link = $('#image_link').val();
            var facebook_link = $('#facebook_link').val();
            var instagram_link = $('#instagram_link').val();
            var whatsapp_link = $('#whatsapp_link').val();
            var tags = $('#tags').val();
            var meta_title = $('#meta_title').val();
            var meta_description = $('#meta_description').val();
            var meta_keywords = $('#meta_keywords').val();
            var h1tag = $('#h1tag').val();

            // Collect form data
            var formData = new FormData();
            formData.append('title', title);
            formData.append('package_category',package_category );
            formData.append('description', description);
            formData.append('top_attraction',top_attraction );
            formData.append('why_visit', why_visit);
            formData.append('package_highlights', package_highlights);
            formData.append('image_link', image_link);
            formData.append('facebook_link',facebook_link );
            formData.append('instagram_link', instagram_link);
            formData.append('whatsapp_link', whatsapp_link);
            formData.append('tags', tags);
            formData.append('meta_title', meta_title);
            formData.append('meta_description', meta_description);
            formData.append('meta_keywords', meta_keywords);
            formData.append('h1tag', h1tag);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');


            console.log(title);
            console.log(package_category);
            console.log(description);
            console.log(top_attraction);
            console.log(why_visit);
            console.log(package_highlights);
            console.log(image_link);
            console.log(facebook_link);
            console.log(instagram_link);
            console.log(whatsapp_link);
            console.log(tags);
            console.log(meta_title);
            console.log(meta_description);
            console.log(meta_keywords);
            console.log(h1tag);
            // Handle image file upload if present
            var image = $('#image')[0].files[0];
            if (image) {
                formData.append('image', image);
            }

            console.log(image);
            // Check if required fields are empty
            if (!$('#title').val().trim() || !$('#package_category').val() || !$('#description').val()) {
                alert("Title, Category, and Description are required fields.");
                return;
            }

            // Send form data via AJAX
            $.ajax({
                url: "{% url 'create_author_packages' %}",  // Replace with the actual URL to create a package
                type: 'POST',
                data: formData,
                processData: false,  // Important for file upload
                contentType: false,  // Important for file upload
                success: function (result) {
                    alert("Package added successfully");
                    location.href = "{% url 'list_author_packages' %}";
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                },
                error: function (xhr, status, error) {
                    var errorMsg = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMsg);
                }
            });
        });

        // Image preview function
        $("#image").change(function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).next('img').attr('src', e.target.result).show();  // Update the image preview
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>


{% endblock %}
