{% extends 'author/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item"><a href="{% url 'list_author_blogs' %}" style="color: white !important;">View Blogs</a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Edit Blog</h6>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="blogs_id" name="blogs_id" value="{{ blog.0.blogs_id }}">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Title</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="title" name="title" value="{{ blog.0.title }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Description</label>
                        <div class="col-sm-12">
                            <textarea class="form-control form-control-lg" id="description" name="description">{{ blog.0.description }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Image</label>
                        <div class="col-sm-12">
                            <input type="file" class="form-control form-control-lg" id="image" name="image">
                            {% if blog.image %}
                            <img id="preview1" src="{{ blog.0.image.url }}" alt="Image Preview" style="display: block; max-width: 100px; margin-top: 10px;">
                            {% else %}
                            <img id="preview1" src="#" alt="Image Preview" style="display: none; max-width: 100px; margin-top: 10px;">
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Image Link</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="image_link" name="image_link" value="{{ blog.0.image_link }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Facebook Link</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="facebook" name="facebook" value="{{ blog.0.facebook }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Instagram Link</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="instagram" name="instagram" value="{{ blog.0.instagram }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">WhatsApp Link</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="whatsapp" name="whatsapp" value="{{ blog.0.whatsapp }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Backlink</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="backlink" name="backlink" value="{{ blog.0.backlink }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Related Blog Link</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="related_bloglink" name="related_bloglink" value="{{ blog.0.related_bloglink }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Tags</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="tags" name="tags" value="{{ blog.0.tags }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Title</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="meta_title" name="meta_title" value="{{ blog.0.meta_title }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Description</label>
                        <div class="col-sm-12">
                            <textarea class="form-control form-control-lg" id="meta_description" name="meta_description">{{ blog.0.meta_description }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Meta Keywords</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="meta_keywords" name="meta_keywords" value="{{ blog.0.meta_keywords }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">H1 Tag</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="h1tag" name="h1tag" value="{{ blog.0.h1tag }}">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_blog">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_blog").click(function (event) {
            event.preventDefault();

            var blogs_id = $('#blogs_id').val();
            var title = $('#title').val();
            var description = $('#description').val();
            var image = $('#image').val();
            var image_link = $('#image_link').val();
            var facebook = $('#facebook').val();
            var instagram = $('#instagram').val();
            var whatsapp = $('#whatsapp').val();
            var backlink = $('#backlink').val();
            var related_bloglink = $('#related_bloglink').val();
            var tags = $('#tags').val();
            var meta_title = $('#meta_title').val();
            var meta_description = $('#meta_description').val();
            var meta_keywords = $('#meta_keywords').val();
            var h1tag = $('#h1tag').val();

            var formData = new FormData();
            formData.append('blogs_id', blogs_id);
            formData.append('title', title);
            formData.append('description', description);
            formData.append('image', image);
            formData.append('image_link', image_link);
            formData.append('facebook', facebook);
            formData.append('instagram', instagram);
            formData.append('whatsapp', whatsapp);
            formData.append('backlink', backlink);
            formData.append('related_bloglink', related_bloglink);
            formData.append('tags', tags);
            formData.append('meta_title', meta_title);
            formData.append('meta_description', meta_description);
            formData.append('meta_keywords', meta_keywords);
            formData.append('h1tag', h1tag);

            var file = $('#image')[0].files[0];
            if (file) {
                formData.append('image', file);
            }

            $.ajax({
                type: 'POST',
                url: '{% url "author_blogs_update"  %}',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    alert("Blog updated successfully!");
                    window.location.href = '{% url "list_author_blogs" %}';
                },
                error: function (error) {
                    alert("An error occurred while updating the blog. Please try again.");
                }
            });
        });
    });
</script>

</div>
{% endblock %}
