{% load static %}
   <!--************
            Sidebar start
        *************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'index' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                        class="nav-text">Dashboard</span></a></li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Admins</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'adduser' %}">Add Admins</a></li> -->
                                <li><a href="{% url 'userlist' %}">View Admins</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Bookings</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addbooking' %}">Add Bookings</a></li>
                                <li><a href="{% url 'ridelist' %}">View Current Bookings</a></li>
                                <li><a href="{% url 'advance_bookings' %}">View Advance Bookings</a></li>
                                <li><a href="{% url 'pending_bookings' %}">View Pending Bookings</a></li>
                                <li><a href="{% url 'view_assigned_rides' %}">View Assigned Bookings</a></li>
                                <li><a href="{% url 'view_assignlater' %}">View AssignLater Bookings</a></li>
                                <li><a href="{% url 'cancelledbookings' %}">View Cancelled Bookings</a></li>
                                <li><a href="{% url 'ongoing_rides' %}">View Ongoing Bookings</a></li>
                                <li><a href="{% url 'completed_rides' %}">View Completed Bookings</a></li>
                            </ul>
                        </li>

                    <!-- <li class="nav-label">Category Management</li> -->
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-chart-bar-33"></i><span class="nav-text"> Category Management</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'CategoryListView' %}">View Car Category</a></li>
                                <li><a href="{% url 'BrandListView' %}">View Car Brand</a></li>
                                <li><a href="{% url 'ModelListView' %}">View Car Model</a></li>
                                <li><a href="{% url 'vehicletypeList' %}">View Car Fuel Type</a></li>
                                <li><a href="{% url 'TransmissionListView' %}">View Car Transmission</a></li>
                                <li><a href="{% url 'colorList' %}">View Car Color</a></li>
                                <li><a href="{% url 'ridetypeList' %}">View Service Type</a></li>
                                
                            </ul>
                        </li>
                    
                        <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-plug"></i><span class="nav-text">Car Brand</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addbrand' %}">Add Car Brand</a></li>
                                <li><a href="{% url 'BrandListView' %}">View Car Brand</a></li>
                            </ul>
                        </li>
                      
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-world-2"></i><span class="nav-text">Car Models</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addmodel' %}">Add Car Model</a></li>
                                <li><a href="{% url 'ModelListView' %}">View Car Model</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Car Fuel Type</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addvehicletype' %}">Add Car Fuel Type</a></li>
                                <li><a href="{% url 'vehicletypeList' %}">View Car Fuel Type</a></li>
                            </ul>
                        </li> -->

                        <!-- <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Ride Type</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'addridetype' %}">Add Ride Type</a></li>
                                <li><a href="{% url 'ridetypeList' %}">View Ride Type</a></li>
                            </ul>
                        </li> -->

                        <!-- <li class="nav-label">Car Management</li> -->

                        <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Car Management</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'addvehicle' %}">Add Car</a></li> -->
                                <li><a href="{% url 'vehiclelist' %}">View Active Cars</a></li>
                                <li><a href="{% url 'vehicleblocklist' %}">View Blocked Cars</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Customers</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'addcustomer' %}">Add Customer</a></li> -->
                                <li><a href="{% url 'customerlist' %}">View Customer</a></li>
                                <li><a href="{% url 'cust_profile_list' %}">Customer Bookings</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Commission Details</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'addcommission' %}">Add Commission</a></li> -->
                                <li><a href="{% url 'commissionlist' %}">View Commission</a></li>
                                <li><a href="{% url 'vehicles' %}">View Vehicle List</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Drivers</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adddriver' %}">Add Drivers</a></li>
                                <li><a href="{% url 'viewdriver' %}">View Drivers</a></li>
                                <li><a href="{% url 'viewdriververification' %}">Driver Verification</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Price Details</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'view_localpackage' %}">View Local Package Price</a></li>
                                <li><a href="{% url 'view_localprice' %}">View Local Prices</a></li>
                                <li><a href="{% url 'view_outstationprice' %}">View Outstation Prices</a></li>
                                <li><a href="{% url 'view_airportprice' %}">View Airport Price</a></li>
                                <li><a href="{% url 'pricinglist' %}">View Price</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Vehicle Registration</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'addvehicleowner' %}">Add Vehicle Owners</a></li> -->
                                <li><a href="{% url 'viewvehicleowner' %}">View Vehicle Owners</a></li>
                                <li><a href="{% url 'ownerverification' %}"> Vehicle Owner Verification</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Report Management</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'addvehicleowner' %}">Add Vehicle Owners</a></li> -->
                                <li><a href="#">Old Report</a></li>
                                <li><a href="{% url 'driver_report' %}"> Driver Report</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Accounts</span></a>
                            <ul aria-expanded="false">
                                <!-- <li><a href="{% url 'add_accounts' %}">Add accounts</a></li> -->
                                <li><a href="{% url 'accounts_list' %}">View accounts</a></li>
                            </ul>
                        </li>
                    </li>
            
                       
                        


                    <!-- <li class="nav-label">Components</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-card.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-grid.html">Grid</a></li>

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./uc-select2.html">Select 2</a></li>
                            <li><a href="./uc-nestable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                            <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                        </ul>
                    </li>
                    <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Widget</span></a></li>
                    <li class="nav-label">Forms</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./form-element.html">Form Elements</a></li>
                            <li><a href="./form-wizard.html">Wizard</a></li>
                            <li><a href="./form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>

                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul> -->
                <!-- <div class="col-12">
                    <a href="{% url 'logout' %}"><button type="submit" class="btn btn-primary mb-2" >Logut</button></a>
                </div> -->
            </div>

            

        </div>
        <!--************
            Sidebar end
        *************-->