{% extends 'distributer/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Completed Bookings</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'indexd' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'distributerridelist' %}">View Current Bookings</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Completed Bookings List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="mb-3">
                                <button id="download-excel" class="btn btn-success">Download Excel</button>
                                <button id="download-csv" class="btn btn-primary">Download CSV</button>
                                <button id="download-pdf" class="btn btn-danger">Download PDF</button>
                            </div>
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Booking Id/Pickup time/Pickup date</th>
                                        <th>Customer Name/email/address/ph No</th>
                                        <th>Ridetype</th>
                                        <th>Pickup Place</th>
                                        <th>Drop Place</th>                              
                                        <th>Total Fare</th>
                                        <th>Category</th>
                                        <th>Customer Comments</th>
                                        <th>Booking datetime</th>
                                        <th>Created On/Created By/Modified On/Modified By</th>
                                        <th>Print Invoice</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <!-- <td>{{ i.company_format }}</td> -->
                                        <td>
                                            <div>{{ i.company_format }}</div>
                                            <div style="color: blue;">{{ i.pickup_time }}</div>
                                            <div style="color: blue;">{{ i.pickup_date }}</div>
                                        </td>
                                        <td>
                                            <div style="color: rgb(61, 148, 219);">{{ i.customer.customer_name }}</div>
                                            <div >{{ i.customer.email }}</div>
                                            <div style="color: rgb(61, 148, 219);">{{ i.customer.address }}</div>
                                            <div style="color: green">{{ i.customer.phone_number }}</div>
                                        </td>
                                        <td>{{ i.ridetype.name }}</td>
                                        <td>{{ i.source }}</td>
                                        <td>{{ i.destination }}</td>
                                        <td>{{ i.total_fare }}</td>
                                        <td>{{ i.model.brand.category.category_name }}</td>
                                        <td>{{ i.customer_notes }}</td>
                                        <td>{{ i.booking_datetime }}</td>
                                        <td>
                                            <div style="color: red">{{ i.created_on }}</div>
                                            <div style="color: red">{{ i.created_by }}</div>
                                            <div>{{ i.updated_on }}</div>
                                            <div>{{ i.updated_by }}</div>
                                        </td>
                                        <td>
                                            <a href="{% url 'distributerinvoice_view' i.ride_id %}" class="btn btn-primary">Invoice</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add the necessary scripts for export functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

<script>
document.getElementById('download-excel').addEventListener('click', function() {
    const table = document.querySelector('#example');
    const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });
    XLSX.writeFile(wb, 'completed_bookings.xlsx');
});

document.getElementById('download-csv').addEventListener('click', function() {
    const table = document.querySelector('#example');
    const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });
    XLSX.writeFile(wb, 'completed_bookings.csv', { bookType: 'csv' });
});

document.getElementById('download-pdf').addEventListener('click', function() {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();
    doc.autoTable({ html: '#example' });
    doc.save('completed_bookings.pdf');
});
</script>
{% endblock content %}
