{% extends 'distributer/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>View Car Category</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Car/Taxi Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="category_name" name="category_name" value="{{ category.category_name }}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">No of Persons</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="seats" name="seats" value="{{ category.seats }}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Image</label>
                        <div class="col-sm-12">
                            <div class="image-wrapper">
                                {% if category.image %}
                                <img src="{{ category.image.url }}" alt="Image" class="category-image">
                                {% else %}
                                No Image
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Status</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" value="{{ category.get_category_status_display }}" disabled>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Created On</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{% if category.created_on %}{{ category.created_on|date:'Y-m-d' }}{% endif %}" disabled>
                        </div>

                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Updated On</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{% if category.updated_on %}{{ category.updated_on|date:'Y-m-d' }}{% endif %}" disabled>
                        </div>
                    </div><br>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Created By</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{{ category.created_by }}" disabled>
                        </div>

                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Updated By</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg"  value="{{ category.updated_by }}" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-wrapper {
        position: relative;
        display: inline-block;
    }

    .category-image {
        max-width: 100px;
        transition: transform 0.3s ease, z-index 0.3s ease;
    }

    .image-wrapper:hover .category-image {
        transform: scale(5);
        z-index: 100; 
        position: relative; 
    }
</style>
{% endblock content %}
