{% extends 'distributer/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Vehicle {{ company_format }} Details</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item"><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                            style="background-color: #F3797E;">
                            <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Daily Summary for {{ vehicle.company_format }} - {{ vehicle.Vehicle_Number }}</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr style="color: black !important;">
                                        <th>Serial No</th>
                                        <th>Date</th>
                                        <th>Total Fare</th>
                                        <th>Total Driver Commission</th>
                                        <th>Total Company Commission</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for summary in object_list %}
                                    <tr style="color: #030000;">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ summary.date }}</td>
                                        <td>{{ summary.total_fare }}</td>
                                        <td>{{ summary.total_driver_commission }}</td>
                                        <td>{{ summary.total_company_commission }}</td>
                                        <td>
                                            <a href="{% url 'dispatch-booking_details' vehicle_id=vehicle.vehicle_id date=summary.date %}" class="btn btn-info"><i class="fa fa-eye"></i></a>&nbsp;
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}