{% extends 'driver/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<div class="content-body">
    <div class="container-fluid">
        <!-- Welcome Text and Breadcrumbs -->
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi {{ driver.name }}, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
                </ol>
            </div>
        </div>

        <!-- Profile Section -->
        <div class="row">
            <!-- Profile Image and Info (Left Side) -->
            <div class="col-lg-4">
                <div class="profile">
                    <div class="profile-head">
                        <div class="photo-content text-center">
                            <div class="driver-image">
                                {% if driver.profile_image %}
                                    <img src="{{ driver.profile_image.url }}" alt="{{ driver.name }}'s image" class="img-fluid rounded-circle" height="200" width="200">
                                {% else %}
                                    <img src="{% static 'images/custpro.png' %}" alt="Default Driver image" class="img-fluid rounded-circle" height="200" width="200">
                                {% endif %}
                            </div>
                        </div>
                        <div class="profile-info mt-3 text-center">
                            <h4 class="text-primary">{{ driver.company_format }}</h4>
                            <p>Assigned Vehicle</p>
                            <h4 class="text-muted">{{ driver.vehicle.Vehicle_Number }}</h4>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- About Me Section (Right Side) -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#about-me" data-toggle="tab" class="nav-link active">About me</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="about-me" class="tab-pane fade show active">
                                        <div class="profile-personal-info">
                                            <h4 class="text-primary mb-4">Personal Information</h4>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Name:</h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>{{ driver.name }}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Email:</h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>{{ driver.email }}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-3">
                                                    <h5 class="f-w-500">Address:</h5>
                                                </div>
                                                <div class="col-9">
                                                    <span>{{ driver.address }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End of Tab Content -->
                            </div>
                        </div> <!-- End of Profile Tab -->
                    </div>
                </div> <!-- End of About Me Card -->
            </div>
        </div> <!-- End of Profile Row -->
    </div>
</div>

{% endblock content %}
