{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Previous Bookings</h4>
                </div>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Previous Bookings List</h4>
                        <br>
                        <!-- <button id="toggleFilterReport" class="btn btn-primary">Show</button> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Booking Id</th>
                                        <th>Pickup date</th>
                                        <th>Pickup time</th>
                                        <th>Customer Name</th>
                                        <th>Phone No</th>
                                        <th>Pickup Place</th>
                                        <th>Drop Place</th>
                                        <th>Total Fare</th>
                                        <th>Booking datetime</th>
                                        <th>Vehicle Details</th>
                                        <th>Ride Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;" data-ridetype="{{ i.ridetype_id }}"
                                        data-rideid="{{ i.ride_id }}"
                                        data-categoryid="{{ i.model.brand.category.category_id }}"
                                        data-vehicleid="{{ i.driver.vehicle.vehicle_id }}"
                                        data-driverid="{{ i.driver_id }}">
                                        <!-- <td>{{ forloop.counter }}</td> -->
                                        <td>
                                            <div>{{ i.company_format }}</div>
                                        </td>
                                        <td>
                                            <div style="color: blue;">{{ i.pickup_date }}</div>
                                        </td>
                                        <td>
                                            <div style="color: blue;">{{ i.pickup_time }}</div>
                                        </td>
                                        <td>
                                            <div style="color: rgb(61, 148, 219);">{{ i.customer.customer_name }}</div>
                                        </td>
                                        <td>
                                            <div style="color: red">{{ i.customer.phone_number }}</div>
                                        </td>
                                        <td>{{ i.source }}</td>
                                        <td>
                                            <div>{{ i.destination }}</div>
                                        </td>
                                        <td><button class="btn btn-warning text-white" disabled>
                                                {{ i.total_fare }}
                                            </button></td>
                                        <td>{{ i.booking_datetime }}</td>

                                        <td>
                                            <div>
                                                <button class="btn btn-info"
                                                    style="height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 5px;">{{
                                                    i.driver.vehicle.company_format }}</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-success text-white"
                                                    style="height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 5px;">{{
                                                    i.driver.vehicle.Vehicle_Number }}</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning text-white"
                                                    style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{
                                                    i.driver.vehicle.model.brand.brand_name }}</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-danger text-white"
                                                    style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{
                                                    i.driver.vehicle.model.model_name }}</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-success text-white"
                                                    style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{
                                                    i.driver.vehicle.model.brand.category.category_name }}</button>
                                            </div>

                                            <div>{{ i.driver.name }}</div>
                                            <div>{{ i.driver.phone_number }}</div>
                                        </td>


                                        <td>
                                            <span class="badge badge-pill badge-danger">{{ i.ride_status }}</span><br>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add the necessary scripts for export functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


{% endblock %}