{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Luxury Taxi Services | Premium Cab Rides for Special Occasions  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" href="{% static '/img/logo/favicon.png' %}">
    <link href="{% static '/dashboard/css/style.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://www.ridexpress.in/">

    
<meta name="description" content=" Book local, outstation, and airport taxis with RidexpressTaxi Services. Enjoy 24/7 service, affordable rates, and safe rides for all your travel needs.  traveling long-distance, or catching a flight." />

<meta name="keywords" content="local taxi service, outstation taxi, airport taxi, cab service, taxi booking, affordable cab, reliable taxi service, 24/7 taxi, city commute, outstation cab, long-distance taxi, one-way taxi, airport transfer, taxi near me, cab for airport, Bengaluru taxi service, safe taxi service, Ridexpress" />


</head>

<body class="h-100">
    <div class="authincation h-100">

   
        <div class="container-fluid h-100" style="background-image: url('/static/img/service/custlogin.avif'); 
            background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <center> <img src="/static/img/logo/ridexpress.png" style="width: 30%;margin-top: -45px;"></center>
                                    <h2 class="text-center mb-2">Create Your Account</h2>

                                        <div class="form-group row">
                                            <label><strong>Customer Name</strong></label>
                                            <input type="text" class="form-control form-control-lg" id="customer_name" name="customer_name" placeholder="Name">
                                        </div>

                                        <div class="form-group row">
                                            <!-- <label><strong>Phone Number</strong></label> -->
                                            <input type="text" class="form-control form-control-lg" id="phone_number" name="phone_number" placeholder="Phone Number">
                                        </div>

                                        <div class="form-group row">
                                            <!-- <label><strong>Email</strong></label>                                             -->
                                            <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Email">
                                        </div>

                                        <div class="form-group row">
                                            <!-- <label><strong>Address</strong></label>                                            -->
                                            <textarea class="form-control" rows="2" id="address" name="address" placeholder="Address"></textarea>                                           
                                        </div>
                                        <div class="form-group row">
                                            <!-- <label><strong>Password</strong></label> -->
                                            <input type="text" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block" id="save_action">Sign me up</button>
                                        </div>
                                        
                                    <div class="new-account mt-3">
                                     <center>   <p style="color: black;">Already have an account? <a class="text-primary" href="{% url 'custlogin' %}">Sign in</a></p> </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center p-lg-4">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                    </svg>
                    <h4 class="text-danger mt-3">Invalid!!</h4>
                    <p class="mt-3">Phone number already exists..</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statusErrorsModal_all" tabindex="-1" role="dialog" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center p-lg-4">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                    </svg>
                    <h4 class="text-danger mt-3">Invalid!!</h4>
                    <p class="mt-3">All fields are required.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statusErrorsModal_phone" tabindex="-1" role="dialog" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center p-lg-4">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                    </svg>
                    <h4 class="text-danger mt-3">Invalid!!</h4>
                    <p class="mt-3">Please enter a valid 10-digit phone number.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center p-lg-4">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#198754" stroke-width="6"
                            stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                    </svg>
                    <h4 class="text-success mt-3">Oh Yeah!</h4>
                    <p class="mt-3">Registered successfully.</p>
                </div>
            </div>
        </div>
    </div>


<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static '/dashboard/vendor/global/global.min.js' %}"></script>
<script src="{% static '/dashboard/js/quixnav-init.js' %}"></script>
<script src="{% static '/dashboard/js/custom.min.js' %}"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_action").click(function () {
            var customer_name = $('#customer_name').val();
            var phone_number = $('#phone_number').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var address = $('#address').val();
            var status = 'active';
            
            if (!customer_name || !phone_number || !email || !password ) {
                var myModal = new bootstrap.Modal(document.getElementById('statusErrorsModal_all'));
                myModal.show();
                return;
            }

            // Validate phone number format
            var phonePattern = /^[0-9]{10}$/;
            if (!phonePattern.test(phone_number)) {
                var myModal = new bootstrap.Modal(document.getElementById('statusErrorsModal_phone'));
                myModal.show();
                return;
            }

            // Validate password criteria
            var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                if (!passwordPattern.test(password)) {
                    alert("Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.");
                    return;
                }

            $.ajax({
                url: '{% url "check_phonenumber" %}',
                type: "GET",
                data: { phone_number: phone_number },
                success: function (data) {
                    if (data.exists) {
                        var myModal = new bootstrap.Modal(document.getElementById('statusErrorsModal'));
                        myModal.show();
                    } else {
                        $.ajax({
                            url: '{% url "regcustomer" %}',
                            type: "POST",
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            data: {
                                customer_name: customer_name,
                                phone_number: phone_number,
                                email: email,
                                password: password,
                                address: address,
                                status: status,
                                // company_format: company_format,
                            },
                            success: function (result) {
                                var myModal = new bootstrap.Modal(document.getElementById('statusSuccessModal'));
                                myModal.show();

                                // location.href = "{% url 'custlogin' %}";
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
    

</html>