{% extends "./index.html" %}
{% load static %}

{% block body_content %}
    <main class="main">

   

        <!-- about area -->
        <div class="about-area py-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                            <div class="about-img">
                                <img src="static/img/about/01.png" alt="">
                            </div>
                            <div class="about-experience">
                                <div class="about-experience-icon">
                                    <img src="static/img/icon/taxi-booking.svg" alt="">
                                </div>
                                <b>15+ Years Of <br> Quality Service</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right wow fadeInRight" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline justify-content-start">
                                    <i class="flaticon-drive"></i> About Us
                                </span>
                                <h2 class="site-title">
                                    We Provide Trusted <span>Cab Service</span> In Bengaluru
                                </h2>
                            </div>
                            <p class="about-text" style="text-align: justify;">
                                Welcome to Deepam Taxi, your trusted cab service in Bengaluru. We are committed to providing safe, reliable, and affordable transportation solutions to meet all your travel needs. Our fleet of well-maintained vehicles and professional drivers ensure a comfortable and timely journey, whether you're heading to work, the airport, or exploring the city.
                            </p>
                            <div class="about-list-wrapper">
                                <ul class="about-list list-unstyled">
                                    <li>
                                        At Deepam Taxi, customer satisfaction is our top priority. We offer a range of services, including fast pickups, transparent pricing, and 24/7 support, to ensure a seamless and enjoyable experience.
                                    </li>
                                    <li>
                                        Our easy-to-use mobile app makes booking a ride simple and convenient, allowing you to track your cab in real-time and access exclusive offers.
                                    </li>
                                    <li>
                                        Choose Deepam Taxi for a dependable and hassle-free travel experience in Bengaluru. Your journey is our responsibility.
                                    </li>
                                </ul>
                            </div>
                            <a href="/about" class="theme-btn mt-4">Discover More<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->



        <!-- counter area -->
         <div class="counter-area">
            <div class="container">
                <div class="counter-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static '/img/icon/taxi-1.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="800" data-speed="9000">800</span>
                                    <h6 class="title">+ Available Taxi </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static '/img/icon/happy.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="290000" data-speed="9000">2,90,000</span>
                                    <h6 class="title">+ Happy Clients</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static '/img/icon/driver.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="1100" data-speed="9000">1100</span>
                                    <h6 class="title">+ Our Drivers</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static '/img/icon/trip.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="1095000" data-speed="9000">10,95,000</span>
                                    <h6 class="title">+ Road Trip Done</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter area end -->


        <!-- team-area -->
        <!-- <div class="team-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Drivers</span>
                            <h2 class="site-title">Our Expert Drivers</h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="team-img">
                                <img src="static/img/team/01.jpg" alt="thumb">
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Alma Mcelroy</a></h5>
                                    <span>Expert Driver</span>
                                </div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="team-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="team-img">
                                <img src="static/img/team/02.jpg" alt="thumb">
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Marie Hooks</a></h5>
                                    <span>Expert Driver</span>
                                </div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="team-img">
                                <img src="static/img/team/03.jpg" alt="thumb">
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Daniel Nesmith</a></h5>
                                    <span>Expert Driver</span>
                                </div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="team-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="team-img">
                                <img src="static/img/team/04.jpg" alt="thumb">
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Gertrude Barrow</a></h5>
                                    <span>Expert Driver</span>
                                </div>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- team-area end -->


        <!-- testimonial area -->
        <div class="testimonial-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="flaticon-drive"></i> Testimonials</span>
                            <h2 class="site-title text-white">What Our Client <span>Say's</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            <!-- <div class="testimonial-author-img">
                                <img src="{% static '/img/testimonial/01.jpg' %}" alt="">
                            </div> -->
                            <div class="testimonial-author-info">
                                <h4>Anup Patra</h4>
                               <p style="text-align:justify;">Customer</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                           <p style="text-align:justify;">
                            Absolutely the best cab service in Bangalore. Have booked them 7-8 times, never missed a flight. One driver came up to my door and rang the bell to wake me up. I have no idea why people have negative reviews here. Guess ive been lucky. Am writing this review on the back of a fantastic cab drive to the airport in Naveen’s car.
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <!-- <i class="fas fa-star"></i> -->
                        </div>
                    </div>
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            <!-- <div class="testimonial-author-img">
                                <img src="{% static '/img/testimonial/02.jpg' %}" alt="">
                            </div> -->
                            <div class="testimonial-author-info">
                                <h4>Brajendu Patnaik</h4>
                               <p style="text-align:justify;">Customer</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                           <p style="text-align:justify;">
                            I heard from a friend that despite of negative reviews, he always uses the service from Deepam Taxi. I also tried it and was astonished why such negative reviews for such a wonderful taxi experience. The driver was punctual and courteous. The drop time was also within the specified time.
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            <!-- <div class="testimonial-author-img">
                                <img src="{% static '/img/testimonial/03.jpg' %}" alt="">
                            </div> -->
                            <div class="testimonial-author-info">
                                <h4>Vinay G</h4>
                               <p style="text-align:justify;">Customer</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                           <p style="text-align:justify;">
                            I recently used this taxi service, and I'm impressed! The driver was courteous, the cab was clean, and they arrived promptly. The fare was reasonable, and overall, it was a smooth and pleasant ride. I'll definitely choose them again for my future transportation needs.
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            <!-- <div class="testimonial-author-img">
                                <img src="{% static '/img/testimonial/04.jpg' %}" alt="">
                            </div> -->
                            <div class="testimonial-author-info">
                                <h4>Ummehani</h4>
                               <p style="text-align:justify;">Customer</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                           <p style="text-align:justify;">
                            Best priced and best cab service for airport pickup and drop, I always choose Deepam Taxi for my need. Keep up the good work.
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-single">
                        <div class="testimonial-content">
                            <!-- <div class="testimonial-author-img">
                                <img src="{% static '/img/testimonial/05.jpg' %}" alt="">
                            </div> -->
                            <div class="testimonial-author-info">
                                <h4>Rajiv Warrier</h4>
                               <p style="text-align:justify;">Customer</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                           <p style="text-align:justify;">
                            I have had a wonderful two day travel experience with Deepam Taxi. The two drivers, Mr. Shekar and Mr. Charan, who came for the two days provided comfort to us in an extremely professional manner. They did not get into any unnecessary loose talks
                            </p>
                        </div>
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial area end -->


        <!-- download area -->
        <div class="download-area mb-120">
            <div class="container">
                <div class="download-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="download-content">
                                <div class="site-heading mb-4">
                                    <span class="site-title-tagline justify-content-start">
                                        <i class="flaticon-drive"></i> Get Our App
                                    </span>
                                    <h2 class="site-title mb-10">Download <span>Our Deepam</span> App For Free</h2>
                                   <p style="text-align:justify;">
                                    Experience the convenience of booking a taxi at your fingertips with the Deepam Taxi app. Download our app for free on both iOS and Android platforms to enjoy easy booking, real-time tracking, and exclusive offers. Get started today and make your travel hassle-free with Deepam Taxi. </p>
                                </div>
                                <div class="download-btn">
                                    <a href="/">
                                        <i class="fab fa-google-play"></i>
                                        <div class="download-btn-content">
                                            <span>Get It On</span>
                                            <strong>Google Play</strong>
                                        </div>
                                    </a>
                                    <!-- <a href="#">
                                        <i class="fab fa-app-store"></i>
                                        <div class="download-btn-content">
                                            <span>Get It On</span>
                                            <strong>App Store</strong>
                                        </div>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="download-img">
                        <img src="{% static '/img/download/01.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- download area end -->


        <!-- partner -->
        <!-- <div class="partner pt-80 pb-80">
            <div class="container">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/01.png" alt="">
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/02.png" alt="">
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/03.png" alt="">
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/01.png" alt="">
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/02.png" alt="">
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-img">
                            <img src="static/img/partner/03.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- partner end-->

    </main>

{% endblock body_content %}
