{% extends "./index.html" %}
{% load static %}
{% block title %}
<title> Blog - Affordable Taxi Fares | Transparent Pricing | RidexpressTaxi Services </title>
{% endblock %}
{% block meta_description %}
<meta name="description" content=" Get the best taxi fares with RidexpressTaxi Services. Enjoy transparent pricing with no hidden costs, whether you need a local, outstation, or airport ride. Check out our competitive rates and book your cab today for affordable and reliable transportation services." />
{% endblock %}
{% block meta_keywords %}
<meta name="keywords" content="taxi fares, affordable taxi pricing, transparent cab rates, competitive taxi fares, local taxi rates, outstation taxi prices, airport taxi fares, clear pricing taxi service, [City] taxi prices" />
<link rel="canonical" href="https://ridexpress.in/blog" />
{% endblock %}
{% block body_content %}

<main class="main">
    <!-- blog area -->
    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline"><i class="flaticon-drive"></i> Our Blog</span>
                        <h1 class="site-title">Latest News & Blog</h1>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                {% for blog in blogs %}
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-delay="{{ forloop.counter0|add:'.25' }}s">
                        <div class="blog-item-img">
                            <img src="{% if blog.image %}{{ blog.image.url }}{% else %}{{ blog.image_link }}{% endif %}" alt="{{ blog.title|slugify }}">
                        </div>
                        <div class="blog-item-info">
                            <h4 class="blog-title">
                                <a href="/blog/{{ blog.backlink }}">{{ blog.title }}</a>
                            </h4>
                            <a class="theme-btn" href="/blog/{{ blog.blogs_id }}">Read More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- blog area end -->
</main>

{% endblock %}
