<header class="header">
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo/logo-icon.png" alt="Ridexpress" style="height: 62px; width: 67px;">
                    <h2 id="logoheader">Ridexpress</h2>
                </a>
                <div class="mobile-menu-right">
                    <div class="search-btn">
                        <button type="button" class="nav-right-link"><i class="far fa-search"></i></button>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" data-bs-toggle="dropdown">Services</a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="/taxi_services">Taxi Services</a></li>
                                <li><a class="dropdown-item" href="/airport-taxi">Airport Taxi</a></li>
                                <li><a class="dropdown-item" href="/outstationcabs">OutStation Cabs</a></li>
                                <li><a class="dropdown-item" href="/localtaxi">Local Taxi</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/packages">Packages</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <div class="nav-right">
                        <div class="nav-right-btn mt-2">
                            <a href="{% url 'home' %}">
                                <button class="theme-btn">Book A Taxi <span class="fas fa-taxi"></span></button>
                            </a>
                        </div>
                        <div class="nav-right-btn mt-2">
                            <a href="{% url 'customer_login' %}">
                                <button class="theme-btn">Customer Login <span class="fas fa-person"></span></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="sidebar-popup">
    <div class="sidebar-wrapper">
        <div class="sidebar-content">
            <button type="button" class="close-sidebar-popup"><i class="far fa-xmark"></i></button>
            <div class="sidebar-logo">
                <img src="/static/img/logo/Ridexpress_new.png" alt="logo">
            </div>
            <div class="sidebar-about">
                <h4>About Us</h4>
                <p style="text-align: justify;">We are Ridexpress Taxi Car Rentals, the leading and most reliable cab rentals provider in India. We provide taxi for Airport Pickup, Airport Drop, Local Pickup and Drop, and to major outstations from Bangalore. Our Airport Taxi Services is the way to go option for all your Airport Pickup & Airport Drop needs. Since 2007, we have been uniquely placed as the largest and safest chauffeur-driven car rental company in India.</p>
            </div>
            <div class="sidebar-contact">
                <h4>Contact Info</h4>
                <ul>
                    <li>
                        <h6>Email</h6>
                        <a href="mailto:support@Ridexpresstaxi.com"><i class="far fa-envelope"></i>support@Ridexpresstaxi.com</a>
                    </li>
                    <li>
                        <h6>Phone</h6>
                        <a href="tel:08046844684"><i class="far fa-phone"></i>+91 6366463555</a>
                    </li>
                    <li>
                        <h6>Address</h6>
                        <a href="#"><i class="far fa-location-dot"></i>Bengaluru, Karnataka, India</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-social">
                <h4>Follow Us</h4>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
