
{% extends "./index.html" %}
{% load static %}

{% block body_content %}
    <main class="main">

        <!-- breadcrumb -->
        <!-- <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Service Single</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Service Single</li>
                </ul>
            </div>
        </div> -->
        <!-- breadcrumb end -->


        <!-- service-single -->
        <div class="service-single-area py-120">
            <div class="container">
                <div class="service-single-wrapper">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="service-sidebar">
                                <div class="widget category">
                                    <h4 class="widget-title">All Services</h4>
                                    <div class="category-list">
                                        <a href="/airporttaxi"><i class="far fa-long-arrow-right"></i>Airport Transport</a>
                                        <a href="/services"><i class="far fa-long-arrow-right"></i>Business Transport</a>
                                        <a href="/localtaxi"><i class="far fa-long-arrow-right"></i>local Transport</a>
                                        <a href="/outstationcabs"><i class="far fa-long-arrow-right"></i>Tour Transport</a>
                                    </div>
                                </div>
                                <!-- <div class="widget service-download">
                                    <h4 class="widget-title">Download</h4>
                                    <a href="#"><i class="far fa-file-pdf"></i> Download Brochure</a>
                                    <a href="#"><i class="far fa-file-alt"></i> Download Application</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="service-details">
                                <div class="service-details-img mb-30">
                                    <img src="static/img/service/service02.jpeg" alt="thumb">
                                </div>
                                <div class="service-details">
                                    <h3 class="mb-30">Hire the Best City Transfers Service in Bangalore</h3>
                                    <p class="mb-20" style="text-align: justify;">
                                        Online Car Rental from Bangalore to Mysuru one way taxi and get best Best Deals on your cab booking. Hire taxi for full day from Bangalore to Mysuru one day trip. Car Rental services available for all cab types AC, Non AC, vehicle, like Sedan and Hatchback
                                    </p>
                                    <p class="mb-20" style="text-align: justify;">
                                        There are many ways to travel from Bengaluru to Mysuru. This includes travel by flight, bus, train or in a personal taxi or a shared cab / carpool, But Deepam Taxi provides best one way cab

                                        Traveling from Bengaluru to Mysuru by train can be an amazing experience if you are prepared to be patient and go along for the experience. Railways are facing stiff competition from road transport.
                                        
                                        Travel by bus from Bengaluru to Mysuru can be a great option. There are various bus services available from Bengaluru to Mysuru. The time to travel by bus is dependant on India’s traffic, roads and climatic conditions.
                                        
                                        Traveling from Bengaluru to Mysuru one way by Taxi is the most comfortable option. The most comfortable and speediest option for traveling short distances (150-300km) is to get a outstation taxi rental. However if you are looking to go on a one way journey it's best to hire a Deepam Taxi one way cab.                               </p>
                                    <div class="row">
                                        <div class="col-md-6 mb-20">
                                            <img src="assets/img/service/01.jpg" alt="">
                                        </div>
                                        <div class="col-md-6 mb-20">
                                            <img src="assets/img/service/02.jpg" alt="">
                                        </div>
                                    </div>
                                    <p class="mb-20" style="text-align: justify;">
                                        Bangalore to Mysore distance is around 150 Kms and reaches up to 190 Kms if you are planning to hire a cab from Bangalore to Mysore. You can rent an outstation cab from Bangalore to Mysore at Rs.1950/-. Deepam Taxi offers the best cab booking services from Bangalore, our customers can get the best and reliable cab rental services from Bangalore to Mysore. You can book your Bangalore to Mysore taxi at the cheapest price from Deepam Taxi booking services.

                                        Our booking procedure and pricing is transparent and there are no hidden charges. The charges for Hatchback vehicle one way trip at 1950 - Inclusive of All. For more comfortable rides from Bangalore Mysore to Banglore you can book a Sedan vehicle one way trip at 1349/ - Inclusive of All       </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-single end-->
        

    </main>
    {% endblock body_content %}


