
{% extends "./index.html" %}
{% load static %}

{% block body_content %}

    <main class="main">

        <!-- breadcrumb -->
        <!-- <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Terms Of Service</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Terms Of Service</li>
                </ul>
            </div>
        </div> -->
        <!-- breadcrumb end -->


        <!-- terms of service -->
        <div class="py-120">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="terms-content">
                            <h3>Terms of Service</h3>
                            <p>
                                

Welcome to Ridexpress Taxi! These terms govern your use of our taxi services, website, and mobile application. By using our services, you agree to abide by these terms. If you have any questions, please contact us.

Booking and Payment

You agree to provide accurate information when booking a ride.
Payment is due upon completion of the ride unless otherwise agreed.
We accept various payment methods, including cash and digital payments.
Cancellation and Refunds

You may cancel a booking according to our cancellation policy, which may include cancellation fees.
Refunds, if applicable, will be processed according to our refund policy.
Service Availability

Our services are available 24/7, subject to availability.
We strive to provide timely service but do not guarantee arrival times due to factors beyond our control.
Safety and Conduct

Your safety is our priority. Our drivers undergo background checks and training.
We expect respectful behavior towards our drivers and staff.
Privacy

We respect your privacy and handle personal information in accordance with our Privacy Policy.
Limitation of Liability

We are not liable for delays, vehicle breakdowns, or other unforeseen circumstances.
Our liability is limited to the amount paid for the service.
Changes to Terms

We may update these terms from time to time. Continued use of our services constitutes acceptance of the updated terms.
Contact Us

If you have any questions or concerns about these terms, please contact us at [insert contact information].
By using Ridexpress Taxi's services, you acknowledge and agree to these terms. Thank you for choosing Ridexpress Taxi for your transportation needs!
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- terms of service end -->

    </main>
    {% endblock body_content %}


