{% extends "./index.html" %}
{% load static %}
{% block title %}
<title> Blog - Affordable Taxi Fares | Transparent Pricing | RidexpressTaxi Services </title>
{% endblock %}
{% block meta_description %}
<meta name="description" content=" Get the best taxi fares with RidexpressTaxi Services. Enjoy transparent pricing with no hidden costs, whether you need a local, outstation, or airport ride. Check out our competitive rates and book your cab today for affordable and reliable transportation services." />
{% endblock %}
{% block meta_keywords %}
<meta name="keywords" content="taxi fares, affordable taxi pricing, transparent cab rates, competitive taxi fares, local taxi rates, outstation taxi prices, airport taxi fares, clear pricing taxi service, [City] taxi prices" />
<link rel="canonical" href="https://ridexpress.in/blog" />
{% endblock %}
{% block body_content %}
<main class="main">

    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline"><i class="flaticon-drive"></i> Our Blog</span>
                        <h1 class="site-title">Latest News & Blog</h1>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row" id="blog-container">
                {% for blog in blogs_page %}
                <div class="col-md-6 col-lg-4 blog-item-container">
                    <div class="blog-item wow fadeInUp" data-wow-delay="{{ forloop.counter0|add:'.25' }}s">
                        <div class="blog-item-img">
                            <img src="{% if blog.image %}{{ blog.image.url }}{% else %}{{ blog.image_link }}{% endif %}" alt="{{ blog.title|slugify }}">
                        </div>
                        <div class="blog-item-info">
                            <h4 class="blog-title">
                                <a href="/blog/{{ blog.title|slugify }}">{{ blog.title }}</a>
                            </h4>
                            <a class="theme-btn" href="/blog/{{ blog.title|slugify }}">Read More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="loading-spinner" class="text-center" style="display:none;">
                <img src="{% static 'loading.gif' %}" alt="Loading..." />
            </div>
        </div>
    </div>
</main>


<script>
    let page = 2;  
let hasNextPage = true;
let loadedBlogs = new Set();  

window.addEventListener('scroll', () => {
    if (hasNextPage && window.innerHeight + window.scrollY >= document.body.offsetHeight - 500) {
        loadMoreBlogs();
    }
});

function loadMoreBlogs() {
    const spinner = document.getElementById('loading-spinner');
    spinner.style.display = 'block';

    fetch(`/blog?page=${page}`, {
        headers: {
            'X-Requested-With': 'XMLHttpRequest' 
        }
    })
    .then(response => response.json())
    .then(data => {
        spinner.style.display = 'none';

        if (data.blogs.length) {
            const blogContainer = document.getElementById('blog-container');
            
            data.blogs.forEach(blog => {
                if (!loadedBlogs.has(blog.backlink)) {
                    loadedBlogs.add(blog.backlink); 
                    
                    const blogItem = `
                        <div class="col-md-6 col-lg-4 blog-item-container">
                            <div class="blog-item wow fadeInUp">
                                <div class="blog-item-img">
                                    <img src="${blog.image_url}" alt="${blog.title}">
                                </div>
                                <div class="blog-item-info">
                                    <h4 class="blog-title">
                                        <a href="/blog/${blog.backlink}">${blog.title}</a>
                                    </h4>
                                    <a class="theme-btn" href="/blog/${blog.title}">Read More<i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>`;
                    
                    blogContainer.insertAdjacentHTML('beforeend', blogItem);
                }
            });

            hasNextPage = data.has_next; 
            page++; 
        } else {
            hasNextPage = false;
        }
    })
    .catch(error => {
        console.error('Error loading more blogs:', error);
    });
}

</script>

<style>
    .blog-item-img img {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
    }

    .blog-title a {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2em; 
        line-height: 1.3em; 
    }

    .blog-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .blog-item-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .theme-btn {
        margin-top: auto;
    }
    .row > [class^='col'] {
        margin-bottom: 30px; 
    }
</style>

{% endblock %}
