{% extends 'adminuser/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'adindex' %}" style="color: white !important;">Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                    <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Customer View</h6>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                      <thead>
                        <tr style="color: black !important;">
                                    <th>Customer Id </th>
                                    <th>Customer Name </th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Created On/Created by</th>
                                    <th>Modified On/Modified by</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr style="color: #030000;">
                                    <td>{{ i.company_format }}</td>
                                    <td>{{ i.customer_name }}</td>
                                    <td>{{ i.phone_number }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.address }}</td>
                                    <td><span class="badge badge-success">{{i.status}}</span></td>
                                    <td style="color: red;">
                                        <div>{{ i.created_on }}</div>
                                        <div>{{ i.created_by }}</div>
                                    </td>
                                    <td>
                                        <div>{{ i.updated_on }}</div>
                                        <div>{{ i.updated_by }}</div>
                                    </td>
                                    <td >
                                        <!-- <a href="#" class="btn btn-primary"  onclick="EditCustomer('{{i.customer_id}}')"><i class="fa fa-edit"></i></a>&nbsp;
                                        <a href="#" class="btn btn-secondary" onclick="DeleteCustomer('{{i.customer_id}}')"><i class="fa fa-trash"></i></a>&nbsp; -->
                                        <a href="#" class="btn btn-warning" onclick="HistoryCustomer('{{i.customer_id}}')"><i class="fa fa-clock"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function DeleteCustomer(customer_id){
        var action = confirm("Are you sure you want to delete this customer?");
        if (action != false) {
          $.ajax({
              url: "DeleteCustomer",
              data: {
                  'customer_id': customer_id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    alert("Customer Deleted Successfully");
                    window.location.href = "customerlist";
                    $("#customer_id #i-" + customer_id).remove();
                  }
              }
      
          });
      
      }
      }
    function EditCustomer(customer_id) {
        var action = confirm("Are you sure you want to edit this customer?");
        if (action !== false) {
            window.location.href = "EditCustomer/" + customer_id; // Add a slash here
        }
    };
    function HistoryCustomer(customer_id) {
        window.location.href = "adCustomerHistory/" + customer_id; // Add a slash here
    };

</script>
{% endblock content%}

