{% extends 'adminuser/base.html' %}
{% load static %}
{% block content%}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <!-- row -->

                    <div class="row">
                        <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                                <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Vehicle Owner View</h6>
                            </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr style="color: black !important;">
                                        <th>Serial No</th>
                                        <th>Vehicle Owner Id</th>
                                        <th>Owner Name</th>
                                        <th>Phone Number/Email</th>
                                        <th>Address</th>
                                        <th>Registered On</th>
                                        <th>Reason</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.company_format }}</td>
                                        <td>
                                            <div>{{ i.name }}</div>
                                            <div style="color: blue;">{{ i.verification_status }}</div>
                                        </td>
                                        <td>
                                            <div style="color: blue;">{{ i.phone_number }}</div>
                                            <div>{{ i.email }}</div>
                                        </td>
                                        <td>{{ i.address }}</td>
                                        <td>{{ i.created_on }}</td>
                                        <td>{{i.block_reason}}</td>
                                        <td style="display: flex; justify-content: center; align-items: center;">
                                           
                                            <a href="#" class="btn btn-warning" onclick="HistoryVehicleowner('{{ i.owner_id }}')"><i class="fa fa-clock"></i></a>&nbsp;
                                            

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    

    function HistoryVehicleowner(owner_id) {
        window.location.href = "adVehicleownerHistory/" + owner_id; // Add a slash here
    }

</script>
{% endblock content %}