{% extends 'adminuser/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'adindex' %}">Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Category List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Category Id</th>
                                        <th>Category Name</th>
                                        <th>Status</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Created by</th>
                                        <th>Updated by</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <td>{{ i.category_id }}</td>
                                        <td>{{ i.category_name }}</td>
                                        <td>
                                            <span class="badge {% if i.category_status == 'active' %}badge-success{% else %}badge-danger{% endif %}">
                                                {{ i.category_status }}
                                            </span>
                                        </td>                                         
                                        <td>{{ i.created_on }}</td>
                                        <td>{{ i.updated_on }}</td>
                                        <td>{{ i.created_by }}</td>
                                        <td>{{ i.updated_by }}</td>
                                        <td >
                                            <!-- <a href="#" class="btn btn-primary"  onclick="EditCategory('{{i.category_id}}')"><i class="fa fa-edit"></i></a>&nbsp;
                                            <a href="#" class="btn btn-secondary" onclick="DeleteCategory('{{i.category_id}}')"><i class="fa fa-trash"></i></a>&nbsp; -->
                                            <a href="#" class="btn btn-warning" onclick="HistoryCategory('{{i.category_id}}')"><i class="fa fa-clock"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteCategory(category_id){
        var action = confirm("Are you sure you want to delete this category?");
        if (action != false) {
          $.ajax({
              url: '{% url "DeleteCategory" %}',
              data: {
                  'category_id': category_id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    alert("Category Deleted Successfully");
                    window.location.href = "{% url 'CategoryListView' %}";
                    $("#category_id #i-" + category_id).remove();
                  }
              }
      
          });
      
      }
      }
    function EditCategory(category_id) {
        var action = confirm("Are you sure you want to edit this category?");
        if (action !== false) {
            window.location.href = "EditCategory/" + category_id; // Add a slash here
        }
    };

    function HistoryCategory(category_id) {
        window.location.href = "adCategoryHistory/" + category_id; // Add a slash here
    };

</script>
{% endblock content%}

