{% extends 'adminuser/base.html' %}
{% load static %}
{% block content%}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <!-- row -->

                    <div class="row">
                        <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                                <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Blocked Car View</h6>
                            </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr style="color: black !important;">
                                        <th>Serial No</th>
                                        <th>Vehicle Id</th>
                                        <th>Owner Name / Owner Mobile</th>
                                        <!-- <th>Owner Mobile</th> -->
                                        <th>Commission Type</th>
                                        <th>Vehicle Number</th>
                                        <th>Category/Brand/ Model</th>
                                        <th>Download Document</th>
                                        <th>Image</th>
                                        <th>Vehicle Status</th>
                                        <th>Reason</th>
                                        <th>Created On</th>
                                        <th>Verified On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <td>{{ forloop.counter }}</td>
                                        <td><div>{{ i.company_format }}</div>
                                            <div>
                                                <span class="badge badge-pill badge-{% if i.verification_status == 'verified' %}success{% else %}danger{% endif %}" 
                                                    onclick="VerifyVehicle('{{ i.vehicle_id }}', '{{ i.owner.verification_status }}')">
                                                    {% if i.verification_status == 'verified' %}
                                                    Verified
                                                    {% else %}
                                                    Not Verified
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>{{ i.owner.name }}</div>
                                            <div style="color: red;">{{ i.owner.phone_number }}</div>
                                        </td>
                                        <td>{{ i.commission_type.commission_name }}</td>
                                        <td style="color: green;">{{ i.Vehicle_Number }}</td>
                                        <td>
                                            <div>{{ i.model.brand.category.category_name }}</div>
                                            <div>{{ i.model.brand.brand_name }}</div>
                                            <div>{{ i.model.model_name }}</div>
                                        </td>
                                        <td><a href="{% url 'download_vehicle_documents' i.vehicle_id %}" class="btn btn-info"><i class="fa fa-download"></i></a></td>
                                        <td>
                                            {% if i.model.brand.category.image %}
                                                <img src="{{ i.model.brand.category.image.url }}" alt="Image" style="max-width: 100px;">
                                            {% else %}
                                                No Image
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="badge {% if i.model.brand.category.category_status == 'inactive' or i.owner.status == 'inactive' %}badge-danger{% else %}{% if i.vehicle_status == 'active' %}badge-success{% else %}badge-danger{% endif %}{% endif %}">
                                                {% if i.model.brand.category.category_status == 'inactive' or i.model.brand.status == 'inactive' or i.model.status == 'inactive' or i.owner.status == 'inactive' %}
                                                    inactive
                                                {% else %}
                                                    {{ i.vehicle_status }}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>{{i.block_reason}}</td>
                                        <td style="color: red;">{{ i.created_on }}</td>
                                        <td>
                                            {% if i.verified_on %}
                                            {{ i.verified_on }}
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </td>
                                        <td style="display: flex; justify-content: center; align-items: center;">
                                           
                                            <a href="#" class="btn btn-warning" onclick="HistoryVehicle('{{ i.vehicle_id }}')"><i class="fa fa-clock"></i></a>&nbsp;
                                           
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    
    function HistoryVehicle(vehicle_id) {
        window.location.href = "adVehicleHistory/" + vehicle_id; // Add a slash here
    };

</script>

{% endblock content %}
