{% load static %}

<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">

            <li><a href="{% url 'indexd' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a></li>
            <li class="nav-label">Vehicle Management</li>
                
            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                <i class="icon icon-form"></i><span class="nav-text">Bookings</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'distributeraddride' %}">Add Bookings</a></li>
                    <li><a href="{% url 'distributerridelist' %}">View Current Bookings</a></li>
                    <li><a href="{% url 'distributeradvance_bookings' %}">View Advance Bookings</a></li>
                    <li><a href="{% url 'distributerpending_bookings' %}">View Pending Bookings</a></li>
                    <li><a href="{% url 'distributerview_assigned_rides' %}">View Assigned Bookings</a></li>
                    <li><a href="{% url 'distributerongoing_rides' %}">View Ongoing Bookings</a></li>
                    <li><a href="{% url 'distributercompleted_rides' %}">View Completed Bookings</a></li>
                    <li><a href="{% url 'distributercancelledbookings' %}">View Cancelled Bookings</a></li>
                </ul>
            </li>

            <li class="nav-label">User Management</li>
        
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-single-04"></i><span class="nav-text">Drivers</span></a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'distributerviewdriver' %}">View Drivers</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
  