{% load static %}

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'adindex' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                        class="nav-text">Dashboard</span></a></li>

                    <li class="nav-label">Vehicle Management</li>
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-chart-bar-33"></i><span class="nav-text">Category</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adCategoryListView' %}">View Category</a></li>
                            </ul>
                        </li>
                    
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-plug"></i><span class="nav-text">Brand</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adBrandListView' %}">View Brand</a></li>
                            </ul>
                        </li>
                      
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-world-2"></i><span class="nav-text">Models</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adModelListView' %}">View Model</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Ride Type</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adridetypeList' %}">View Ride Type</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Price Details</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adpricinglist' %}">View Price</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Commission Details</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adcommissionlist' %}">View Commission</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Vehicle Type</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'advehicletypeList' %}">View Vehicle Type</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Vehicles</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'advehiclelist' %}">View Vehicles</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Bookings</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'ADaddbooking' %}">Add Bookings</a></li>
                                <li><a href="{% url 'adridelist' %}">View Current Bookings</a></li>
                                <li><a href="{% url 'adadvance_bookings' %}">View Advance Bookings</a></li>
                                <li><a href="{% url 'adpending_bookings' %}">View Pending Bookings</a></li>
                                <li><a href="{% url 'adview_assigned_rides' %}">View Assigned Bookings</a></li>
                                <li><a href="{% url 'adcancelledbookings' %}">View Cancelled Bookings</a></li>
                                <li><a href="{% url 'adongoing_rides' %}">View Ongoing Bookings</a></li>
                                <li><a href="{% url 'adcompleted_rides' %}">View Completed Bookings</a></li>
                            </ul>
                        </li>

                        <li class="nav-label">User Management</li>
                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">User</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'aduserlist' %}">View Users</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Customer</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adcustomerlist' %}">View Customer</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Drivers</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adviewdriver' %}">View Drivers</a></li>
                            </ul>
                        </li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Vehicle Owners</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'adviewvehicleowner' %}">View Vehicle Owners</a></li>
                            </ul>
                        </li>
            </div>
        </div>