{% load static %}
  
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'indextel' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                        class="nav-text">Dashboard</span></a></li>

                    <li class="nav-label">Vehicle Management</li>
                    
                        <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Booking</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'telecalleraddride' %}">Add Booking</a></li>
                                <li><a href="{% url 'telecallerridelist' %}">View Current Booking Details</a></li>
                                <li><a href="{% url 'telecalleradvance_bookings' %}">View Advance Booking Details</a></li>
                                <li><a href="{% url 'telecallercancelledbookings' %}">View Cancelled Bookings</a></li>
                                <li><a href="{% url 'callhistory' %}">CALL History</a></li>
                            </ul>
                        </li>

                        <li class="nav-label">User Management</li>

                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Customer</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'telecalleraddcustomer' %}">Add Customer</a></li>
                                <li><a href="{% url 'telecallercustomerlist' %}">View Customer</a></li>
                            </ul>
                        </li>
            </div>
        </div>
     