{% extends 'telecaller/base.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'telecallerridelist' %}" style="color: white !important;">View Current Booking</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>
        
        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Add Bookings</h6>
                    </div>
                    </div>

                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Booking Id</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="company_format" name="company_format" value="{{ next_company_format }}" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Service Type</label>
                        <div class="col-sm-12">
                            <select id="ridetype" name="ridetype" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Service Type</option>
                                {% for obj in ridetypelist %}
                                    <option value="{{ obj.ridetype_id }}" data-name="{{ obj.name }}">{{ obj.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <!-- Radio Button Section for Oneway/Roundtrip -->
                    <div id="ride_options" class="form-group row" style="display: none;">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Trip Type</label>
                        <div class="col-sm-12">
                            <div id="trip_type_buttons">
                                <!-- Radio buttons for Oneway, Roundtrip will be added here dynamically -->
                            </div>
                        </div>
                    </div>
                    
                    <!-- Radio Button Section for Toll Option (Only for Airport) -->
                    <div id="toll_options" class="form-group row" style="display: none;">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Toll Option</label>
                        <div class="col-sm-12">
                            <div id="toll_type_buttons">
                                <!-- Radio buttons for Add Toll, No Toll will be added here dynamically -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pickup Location</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control autocomeple_g" id="source" name="source" maxlength="1000">
                            <i class="far fa-location-dot"></i>                        
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Drop Location</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control autocomeple_g" id="destination" name="destination" maxlength="1000">
                            <i class="far fa-location-dot"></i>                        
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pick up Date</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control form-control-lg date-picker" id="pickup_date" name="pickup_date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pick up Time</label>
                        <div class="col-sm-12">
                            <input type="time" class="form-control form-control-lg pickup-time" id="pickup_time" name="pickup_time">
                            <div id="timeError" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <!-- Hidden input fields for Drop Date and Drop Time -->
                    <div id="drop_details" class="form-group row" style="display: none;">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Drop Date</label>
                        <div class="col-sm-12">
                            <input type="date" id="drop_date" name="drop_date" class="form-control form-control-lg">
                        </div>
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Drop Time</label>
                        <div class="col-sm-12">
                            <input type="time" id="drop_time" name="drop_time" class="form-control form-control-lg">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Category</label>
                        <div class="col-sm-12">
                            <select id="category" name="category" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Category</option>  
                            </select>  
                            <div id="categoryError" class="invalid-feedback"></div>                          
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Total Fare</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="total_fare" name="total_fare" value="{{ details.cost }}" readonly>
                        </div>
                    </div>

                    

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">* Customer Phone Number</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="phone_number" name="phone_number" maxlength="10" placeholder="Enter Phone Number" autocomplete="off">
                        </div>

                        <label class="col-sm-2 col-form-label col-form-label-lg">* Customer Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="customer_name"
                                name="customer_name" placeholder="Enter Customer Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">* Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control form-control-lg" id="email" name="email"
                                placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">* Password</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="password" name="password"
                                placeholder="Enter New Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Address</label>
                        <div class="col-sm-12">
                            <textarea class="form-control form-control-lg" id="address" name="address"
                                placeholder="Enter Address"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg">Customer Notes</label>
                        <div class="col-sm-12">
                            <textarea class="form-control form-control-lg" id="customer_notes" name="customer_notes" ></textarea>
                        </div>
                    </div>
                    
                    <input type="hidden" id="customer_id" name="customer_id">
                    <br>
                    <!-- Add Ride button -->
                    <div class="form-group row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" id="confirmBookingBtn">Book Ride</button>
                        </div>
                    </div>

                    <!-- <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add OTP Modal -->
<center>
    <div id="otpModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter OTP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeOtpModal"
                        style="border: none; background: none; font-size: 1.5rem; cursor: pointer;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>An OTP has been sent to your WhatsApp number. Please enter it below to confirm your booking.</p>
                    <input type="text" id="otpInput" class="form-control" placeholder="Enter OTP" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="verifyOtpBtn">Verify OTP</button>
                </div>
            </div>
        </div>
    </div>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>$('.pickup-time').change(function() {
    var selectedDate = new Date($('.date-picker').val());
    var today = new Date();
    var selectedTime = $(this).val();

    today.setHours(0, 0, 0, 0);
    
    if (selectedDate.setHours(0, 0, 0, 0) === today.setHours(0, 0, 0, 0)) {
        var now = new Date();
        var selectedHours = parseInt(selectedTime.split(':')[0]);
        var selectedMinutes = parseInt(selectedTime.split(':')[1]);
        var currentHours = now.getHours();
        var currentMinutes = now.getMinutes();
        var [selectedHours, selectedMinutes] = selectedTime.split(':').map(Number);

        // Check if the selected time is earlier than the current time
    if (selectedHours < currentHours || (selectedHours === currentHours && selectedMinutes <= currentMinutes)) {
        $(this).val(''); // Clear invalid time
        $(this).addClass('is-invalid');
        $('#timeError').text('Please select a current or future time.');
    } else {
        $(this).removeClass('is-invalid');
        $(this).addClass('is-valid');
        $('#timeError').text('');
    }
} else {
    // If the date is in the future, any time is valid
    $(this).removeClass('is-invalid');
    $(this).addClass('is-valid');
    $('#timeError').text('');
}
});
</script>
<script>
    // Set the minimum date to today's date
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById('pickup_date').setAttribute('min', today);
    });

    $(document).ready(function () {
    $('#ridetype').on('change', function () {
        var selectedRidetypeName = $(this).find('option:selected').data('name').toLowerCase();
        var tripOptionsHtml = '<label><input type="radio" name="trip_type" value="one_way" checked> Oneway</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + 
                              '<label><input type="radio" name="trip_type" value="round_trip"> Roundtrip</label>';
        
        // Reset options and hide initially
        $('#trip_type_buttons').html('');
        $('#toll_type_buttons').html('');
        $('#ride_options, #toll_options, #drop_details').hide();  // Hide drop details initially

        if (selectedRidetypeName === 'airport') {
            // Show both Oneway/Roundtrip options and Add Toll/No Toll options for Airport
            $('#trip_type_buttons').html(tripOptionsHtml);
            $('#ride_options').show();

            var tollOptionsHtml = '<label><input type="radio" name="toll_option" value="add_toll"> Add Toll</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                                  '<label><input type="radio" name="toll_option" value="no_toll" checked > No Toll</label>';
            $('#toll_type_buttons').html(tollOptionsHtml);
            $('#toll_options').show();
        } else if (selectedRidetypeName === 'outstation') {
            // Only show Oneway/Roundtrip options for Outstation
            $('#trip_type_buttons').html(tripOptionsHtml);
            $('#ride_options').show();
        }
    });

    // Add event listener for the Trip Type (Oneway/Roundtrip)
    $('body').on('change', 'input[name="trip_type"]', function () {
        var tripType = $('input[name="trip_type"]:checked').val();
        var selectedRidetypeName = $('#ridetype').find('option:selected').data('name').toLowerCase();


        if (tripType === 'round_trip' && selectedRidetypeName === 'outstation') {
            // Show Drop Date and Drop Time for Roundtrip
            $('#drop_details').show();
        } else {
            // Hide Drop Date and Drop Time for Oneway
            $('#drop_details').hide();
        }

        // Update ride pricing details
        getRidePricingDetails();
    });

    // Add event listener for Drop Date selection
    $('#drop_date, #drop_time').on('change', function () {
        console.log('Drop date or time selected:', $(this).val());  // Log the selected drop date or time
        getRidePricingDetails();  // Fetch ride pricing details whenever drop date or time changes
    });

    // Add event listener for Toll Option (only for airport rides)
    $('body').on('change', 'input[name="toll_option"]', function () {
        // Update ride pricing details when toll option changes
        getRidePricingDetails();
    });

    function getTimeSlot(pickupTime) {
        var time = pickupTime.split(":");
        var hour = parseInt(time[0]);
        
        if (hour >= 0 && hour < 6) {
            return '12AM - 6AM';
        } else if (hour >= 6 && hour < 12) {
            return '6AM - 12PM';
        } else if (hour >= 12 && hour < 18) {
            return '12PM - 6PM';
        } else if (hour >= 18 && hour < 24) {
            return '6PM - 12AM';
        } else {
            return null;
        }
    }
    function getRidePricingDetails() {
        var ridetype = $('#ridetype').val();
        var source = $('#source').val();
        var destination = $('#destination').val();
        var pickup_date = $('#pickup_date').val();
        var pickup_time = $('#pickup_time').val();
        var time_slot = getTimeSlot(pickup_time);
        var drop_date = $('#drop_date').val();
        var drop_time = $('#drop_time').val();

        var trip_type = $('input[name="trip_type"]:checked').val() || '';  // Ensure the value exists or fallback to empty string
        var toll_option = $('input[name="toll_option"]:checked').val() || ''; // Same for toll_option

        console.log('ridetype', ridetype);
        console.log('drop date', drop_date);  
        console.log('drop time', drop_time);
        console.log('trip_type before sending:', trip_type);  // Add this to confirm it's being fetched
        console.log('toll_option', toll_option);

        if (ridetype && source && destination && pickup_date && pickup_time) {
            // Disable Category Dropdown and Show Loading Indicator
            $('#category').prop('disabled', true).html('<option>Loading...</option>');
                $('#total_fare').val('');
            $.ajax({
                url: '{% url "telecaller_customerGetRidePricingDetails" %}',
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    ridetype: ridetype,
                    source: source,
                    destination: destination,
                    pickup_date: pickup_date,
                    pickup_time: pickup_time,
                    time_slot: time_slot,
                    toll_option: toll_option,
                    trip_type: trip_type,
                    drop_date: drop_date,
                    drop_time: drop_time,
                    trip_type: trip_type
                },
                success: function(response) {
                    console.log(response);  // Check if response is correct
                    if (response.costs) {
                        var $categorySelect = $('#category');
                        $categorySelect.empty();  // Clear existing options
                        $categorySelect.append('<option value="" selected disabled>Select Category</option>');
                        
                        $.each(response.costs, function(category, carTypes) {
                            $.each(carTypes, function(carType, details) {
                                $categorySelect.append(
                                    $('<option>', {
                                        value: category + '|' + carType,
                                        text: category + ' - ' + carType.charAt(0).toUpperCase() + carType.slice(1) + ' - ₹' + details.cost,
                                        'data-cost': details.cost // Add data attribute for cost
                                    })
                                );
                            });
                        });
                        $categorySelect.prop('disabled', false); // Enable Category Dropdown
                        } else {
                            $('#category').html('<option value="" selected disabled>No Categories Available</option>');
                            $('#category').prop('disabled', true);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX Error:', error);
                        $('#category').html('<option value="" selected disabled>Error Loading Categories</option>');
                        $('#category').prop('disabled', true);
                    }
                });
            } else {
                // If any required field is missing, reset Category and Total Fare
                $('#category').empty().append('<option value="" selected disabled>Select Category</option>').prop('disabled', true);
                $('#total_fare').val('');
            }
        }

        $('#ridetype, #source, #destination, #pickup_date, #pickup_time').on('change', function() {
            // Clear Category and Total Fare when inputs change
            $('#category').empty().append('<option value="" selected disabled>Select Category</option>').prop('disabled', true);
            $('#total_fare').val('');
            // Clear any previous validation messages
            $('#categoryError').text('');
            // Fetch new Category options based on updated inputs
            getRidePricingDetails();
        });
        $('#category').on('change', function() {
            var selectedOption = $(this).find('option:selected');
            var cost = selectedOption.data('cost');
            
            if (cost) {
                $('#total_fare').val(cost);  // Set total fare to selected category cost
                $('#category').removeClass('is-invalid').addClass('is-valid');
                $('#categoryError').text('');
            } else {
                $('#total_fare').val('');  // Clear total fare if no cost is found
                $('#category').removeClass('is-valid').addClass('is-invalid');
                $('#categoryError').text('Please select a valid category.');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

    // Customer details autofill when phone number changes
        $('#phone_number').on('change', function () {
            var phoneNumber = $(this).val();

            $.ajax({
                url: "{% url 'fetch_customer_details' %}",
                data: {
                    'phone_number': phoneNumber
                },
                success: function (data) {
                    $('#customer_id').val(data.customer_id);
                    $('#customer_name').val(data.customer_name).prop('readonly', true);
                    $('#email').val(data.email).prop('readonly', true);
                    $('#address').val(data.address).prop('readonly', true);
                    $('#password').val(data.password).prop('readonly', true);
                    $('#customer_notes').val(''); 
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 404) {
                        $('#customer_id').val('');
                        $('#customer_name').val('').prop('readonly', false);
                        $('#email').val('').prop('readonly', false);
                        $('#address').val('').prop('readonly', false);
                        $('#password').val('').prop('readonly', false);
                        $('#customer_notes').val(''); // Clear any existing notes
                    }
                }
            });
        });
    

        
        $('#confirmBookingBtn').click(function (event) {
        event.preventDefault();

        var trip_type = $('input[name="trip_type"]:checked').val() || '';
        // Collect booking details
        var bookingDetails = {
         company_format : $('#company_format').val(),
         ridetype : $('#ridetype').val(),
         source : $('#source').val(),
         destination : $('#destination').val(),
         pickup_date : $('#pickup_date').val(),
         pickup_time : $('#pickup_time').val(),
         drop_date : $('#drop_date').val(),
         drop_time : $('#drop_time').val(),
         category : $('#category').val(),
         total_fare : $('#total_fare').val(),
         customer : $('#customer_id').val(),
         customer_notes : $('#customer_notes').val(),
         phone_number : $('#phone_number').val(),
         customer_name : $('#customer_name').val(),
         email : $('#email').val(),
         address : $('#address').val(),
         password : $('#password').val(),
         trip_type : trip_type,
         ride_status: 'currentbookings',

        };

        console.log('triptype', trip_type);

        // Validation for required fields
        if ( !ridetype || !source || !destination || !pickup_date || !pickup_time || !category || !total_fare || !phone_number || !customer_name || !email || !password) {
            alert('Please fill out all required fields.');
            return false;
        }  
        
        // Send OTP to the customer's WhatsApp number
        $.ajax({
            url: '{% url "tele_send_otp_admin" %}', // Backend endpoint to send OTP
            type: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                phone_number: bookingDetails.phone_number,
                customer_name: bookingDetails.customer_name
            },
            success: function (result) {
                if (result["status"] == "Success") {
                    // Show OTP modal
                    $('#otpModal').modal('show');
                } else {
                    alert("Failed to send OTP. Please try again. " + result['message']);
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
        $('#otpModal').modal({
            backdrop: 'static',
            keyboard: false
        });


        $('#verifyOtpBtn').click(function () {
            var otp = $('#otpInput').val();

            // Disable the button to prevent multiple submissions
            $('#verifyOtpBtn').prop('disabled', true).text('Verifying...');

            // Make AJAX call for OTP verification
            $.ajax({
                url: '{% url "tele_verify_otp_admin" %}', // Backend endpoint to verify OTP
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    phone_number: bookingDetails.phone_number,
                    otp: otp
                },
                success: function (result) {
                    if (result["status"] === "Success") {
                        // If OTP is correct, proceed to confirm booking
                        confirmBooking(bookingDetails);
                    } else {
                        alert("Incorrect OTP. Please try again.");
                        // Re-enable the button in case of failure
                        $('#verifyOtpBtn').prop('disabled', false).text('Verify OTP');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    // Re-enable the button in case of an error
                    $('#verifyOtpBtn').prop('disabled', false).text('Verify OTP');
                }
            });
            });
        });


        // Function to confirm booking after OTP verification
    function confirmBooking(bookingDetails) {
        try {
            function formatDateToLocal(dateStr) {
                var date = new Date(dateStr);
                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2); // Months are zero-based, so add 1
                var day = ('0' + date.getDate()).slice(-2); // Ensure two digits for day
                return `${year}-${month}-${day}`; // Return in 'YYYY-MM-DD' format
            }

            if (bookingDetails.pickup_date) {
                var formattedPickupDate = formatDateToLocal(bookingDetails.pickup_date);
                bookingDetails.pickup_date = formattedPickupDate;
            } else {
                throw new Error("Pickup date is missing.");
            }

            // Check and convert drop_date if it exists
            if (bookingDetails.drop_date) {
                var formattedDropDate = formatDateToLocal(bookingDetails.drop_date);
                bookingDetails.drop_date = formattedDropDate;
            }


            $.ajax({
                url: '{% url "telecalleraddride" %}',
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: bookingDetails,
                success: function (result) {
                    if (result["status"] != "Error") {
                        var company_format = result['company_format']; // Get company_format from the backend

                        // Construct the message with company_format
                        var message = `Hello ${customer_name},
    
                        Thank you for choosing Ridexpress!
    
                        We’re happy to confirm your booking:
    
                        Booking Id & Price: ${company_format} 
                        Pickup Date & Time: ${bookingDetails.pickup_date} ${bookingDetails.pickup_time}
                        Pickup Location: ${bookingDetails.source}
                        Drop-off Location: ${bookingDetails.destination}
    
                        Cab details will be provided shortly. If you have any changes or need further assistance, feel free to reach out to us at +91 6366463555 or reply to this message.
    
                        We look forward to serving you!
    
                        Best regards,
                        Ridexpress
                        support@ridexpress.in
                        ridexpress.in`;

                        alert("Thank you for booking with us. Information will be shared with you over WhatsApp.");
                        location.href = "{% url 'telecallerridelist' %}";
                    } else {
                        alert("Oops, something went wrong. Please try again. " + result['message']);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        } catch (e) {
            alert("Error: " + e.message);
            console.error(e);
        }
    }

    $(document).ready(function () {
        $('#closeOtpModal').click(function () {
            $('#otpModal').modal('hide'); // Hide the modal when close button is clicked
        });
    });
});

</script>

<script>
    function initAutocomplete() {
          const inputs = document.querySelectorAll('.autocomeple_g');
    
          inputs.forEach(input => {
          const autocomplete = new google.maps.places.Autocomplete(input);
    
          autocomplete.addListener('place_changed', function() {
            const place = autocomplete.getPlace();
            if (!place.geometry) {
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }
            console.log('Place details for', input.id, ':', place);
            });
            });
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAXVR7rD8GXKZ2HBhLn8qOQ2Jj_-mPfWSo&libraries=places&callback=initAutocomplete';
            script.async = true;
            script.defer = true;
            document.head.appendChild(script);
        });

      // Initialize datepicker
    $('.date-picker').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        todayHighlight: true,
        startDate: new Date() // Set start date to today
    });

    // Datepicker change event listener
    $('.date-picker').change(function() {
        var selectedDate = new Date($(this).val());
        var today = new Date();

        today.setHours(0, 0, 0, 0);
        
        if (selectedDate < today) {
            $(this).val(''); // Clear invalid date
            $(this).addClass('is-invalid');
            $('#dateError').text('Please select a future date.');
        } else {
            $(this).removeClass('is-invalid');
            $(this).addClass('is-valid');
            $('#dateError').text('');
        }
    });

</script>

<style>
    /* Required Bootstrap Modal CSS */
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        outline: 0;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
    }

    .modal.fade .modal-dialog {
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1040;
    }

    .modal-header .close {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: -1rem -4rem -1rem auto;
        /* Adjust position */
    }

    .modal-header .close:hover,
    .modal-header .close:focus {
        color: #000;
        text-decoration: none;
    }
</style>



{% endblock content %}