{% extends 'telecaller/base.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'telecallercustomerlist' %}" style="color: white !important;">View Customer</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>
                
        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Add Customer</h6>
                    </div>
                    </div>

                <div class="card-body">
                                    
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Customer Id</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-lg" id="company_format" name="company_format" value="{{ next_company_format }}" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Customer Name</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-lg" id="customer_name" name="customer_name">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Phone Number</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-lg" id="phone_number" name="phone_number">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Email</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control form-control-lg" id="email" name="email">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Password</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control form-control-lg" id="password" name="password">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Address</label>
                                            <div class="col-sm-12">                                            
                                                <textarea class="form-control" rows="2" id="address" name="address"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Select Status</label>
                                            <div class="col-sm-12">    
                                            <select class="form-control form-control-lg" id="status" name="status">
                                                <option value="" selected disabled>Select Status</option>
                                                <option value="active" selected>Active</option>
                                                <option value="inactive">Inactive</option>
                                            </select>
                                            </div>
                                        </div>
<br>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                                        </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_action").click(function () {
            var company_format = $('#company_format').val();
            var customer_name = $('#customer_name').val();
            var phone_number = $('#phone_number').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var address = $('#address').val();
            var status = $('#status').val();
            
            if (!customer_name || !phone_number || !email || !password  ) {
                alert("All fields are required.");
                return;
            }

            var phonePattern = /^[0-9]{10}$/;
            if (!phonePattern.test(phone_number)) {
                alert("Please enter a valid 10-digit phone number.");
                return;
            }

            var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            if (!passwordPattern.test(password)) {
                alert("Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.");
                return;
            }

            $.ajax({
                url: '{% url "check_phonenumber" %}',
                type: "GET",
                data: { phone_number: phone_number },
                success: function (data) {
                    if (data.exists) {
                        alert("Phone number already exists.");
                    } else {
                        $.ajax({
                            url: '{% url "telecalleraddcustomer" %}',
                            type: "POST",
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            data: {
                                customer_name: customer_name,
                                phone_number: phone_number,
                                email: email,
                                password: password,
                                address: address,
                                status: status,
                                company_format: company_format,
                            },
                            success: function (result) {
                                alert("Customer added successfully");
                                location.href = "{% url 'telecallercustomerlist' %}";
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock content %}
