{% extends 'telecaller/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'tele-author-package-category-list' %}" style="color: white !important;">View Package Category</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>
 
        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Edit Package Category</h6>
                    </div>
                    </div>

                <div class="card-body">
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="package_category_id" name="package_category_id"
                            value="{{ plist.0.package_category_id }}">
                            <input type="hidden" class="form-control" id="original_category_name" name="original_category_name" value="{{ plist.0.category_name }}">
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg"
                            style="color: #454545; font-size: 16px;">Package Category Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-lg" id="category_name" name="category_name"
                                value="{{ plist.0.category_name }}">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_category">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_category").click(function () {
            event.preventDefault();

            var category_name = $('#category_name').val().trim().toLowerCase();
            var package_category_id = $('#package_category_id').val();
            var original_category_name = $('#original_category_name').val();

            if (category_name.trim() === '') {
                alert("Please enter package category name.");
                return;
            }

            var original_name = "{{ plist.0.category_name }}";

            if (category_name.trim() === original_category_name.trim()) {
                submitForm(category_name, package_category_id);
            } else {
                $.ajax({
                    url: "{% url 'tele-check-package-category' %}",
                    type: "GET",
                    data: { 'category_name': category_name },
                    success: function (data) {
                        if (data.exists) {
                            alert("category name already exists.");
                        } else {
                            if (confirm("Are you sure you want to save this package category?")) {
                                submitForm(category_name, package_category_id);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('AJAX error:', error);
                    }
                });
            }
        });

        function submitForm(category_name, package_category_id) {
            $.ajax({
                url: "{% url 'tele-author-UpdatePackageCategory' %}",
                type: "POST",
                data: {
                    'category_name': category_name,
                    'package_category_id': package_category_id,
                },
                headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                success: function (result) {
                    console.log("result val: ", result);
                    if (result['success']) {
                        alert("package category details edited successfully");
                        window.location.href = "{% url 'tele-author-package-category-list' %}";
                    } else {
                        alert("Failed to edit package category details: " + result['message']);
                    }
                },
                error: function (xhr, status, error) {
                    console.log('AJAX error:', error);
                }
            });
        }
    });

</script>

{% endblock content%}
