{% extends 'telecaller/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Current Bookings</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'indextel' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'telecalleraddride' %}">Add Ride</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Current Bookings List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Booking Id/Pickup time/Pickup date</th>
                                        <th>Customer Name/email/address</th>
                                        <th>Customer PhNo</th>
                                        <th>Ridetype</th>
                                        <th>Pickup Place</th>
                                        <th>Drop Place</th>                              
                                        <th>Total Fare</th>
                                        <th>Category</th>
                                        <th>Customer Comments</th>
                                        <th>Booking datetime</th>
                                        <th>Created On/Created By/Modified On/Modified By</th>
                                        <th>Action</th>
                                        <th>Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <td>
                                            <div>{{ i.company_format }}</div>
                                            <div style="color: blue;">{{ i.pickup_time }}</div>
                                            <div style="color: blue;">{{ i.pickup_date }}</div>
                                        </td>
                                        <td>
                                            <div style="color: rgb(61, 148, 219);">{{ i.customer.customer_name }}</div>
                                            <div >{{ i.customer.email }}</div>
                                            <div style="color: rgb(61, 148, 219);">{{ i.customer.address }}</div>
                                        </td>
                                        <td style="color: red">{{ i.customer.phone_number }}</td>
                                        <td>{{ i.ridetype.name }}</td>
                                        <td>{{ i.source }}</td>
                                        <td>{{ i.destination }}</td>
                                        <td>{{ i.total_fare }}</td>
                                        <td>{{ i.model.brand.category.category_name }}</td>
                                        <td>{{ i.customer_notes }}</td>
                                        <td>{{ i.booking_datetime }}</td>
                                        <td>
                                            <div style="color: red">{{ i.created_on }}</div>
                                            <div style="color: red">{{ i.created_by }}</div>
                                            <div>{{ i.updated_on }}</div>
                                            <div>{{ i.updated_by }}</div>
                                        </td>
                                        <td style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 100px;">
                                            <a href="#" class="btn btn-primary btn-sm btn-custom-sm" onclick="EditRide('{{ i.ride_id }}')"><i class="fa fa-edit"></i></a>
                                            <button type="button" class="btn btn-danger btn-sm btn-custom-sm" data-toggle="modal" data-target="#cancelBookingModal" data-ride-id="{{ i.ride_id }}">Cancel Booking</button>
                                        </td>  
                                        <td>
                                            <button type="button" class="btn btn-success" style="margin-top: 0px;" 
                                                onclick="makeCall('{{ i.customer.phone_number }}', [
                                                    '{{ i.company_format }}', 
                                                    '{{ i.customer.customer_name }}', 
                                                    '{{ i.customer.phone_number }}', 
                                                    '{{ i.customer.email }}', 
                                                    '{{ i.ridetype.name }}', 
                                                    '{{ i.source }}', 
                                                    '{{ i.destination }}', 
                                                    '{{ i.pickup_date }}', 
                                                    '{{ i.pickup_time }}', 
                                                    '{{ i.model.brand.category.category_name }}', 
                                                    '{{ i.model.brand.brand_name }}', 
                                                    '{{ i.model.model_name }}', 
                                                    '{{ i.total_fare }}', 
                                                    '{{ i.customer.address }}', 
                                                    '{{ i.customer_notes }}', 
                                                    '{{ i.ride_status }}', 
                                                    '{{ i.booking_datetime }}', 
                                                    '{{ i.updated_on }}', 
                                                    '{{ i.updated_by }}'
                                                ])">
                                                CALL
                                            </button>
                                            <!-- <button type="button" class="btn btn-success" style="margin-top: 0px;" onclick="makeCall('{{ i.customer.phone_number }}')">CALL</button> -->
                                        </td>
                                                                                                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Booking Modal -->

<div class="modal fade" id="cancelBookingModal" tabindex="-1" role="dialog" aria-labelledby="cancelBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelBookingModalLabel">Cancel Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="cancelRideId">
                    <div class="form-group">
                        <label for="cancelComments">Comments</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3" required></textarea>
                    </div>
                    <button type="button" class="btn btn-danger cancel-btn">Cancel Booking</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // Update data-comments attribute whenever textarea value changes
        $('#comments').on('input', function() {
            const comments = $(this).val();
            $('.cancel-btn').attr('data-comments', comments);
        });

        // Handle cancel button click
        $(document).on('click', '.cancel-btn', function() {
            console.log("Submit button clicked!");

            const comments = $(this).data('comments');
            const rideId = $('#cancelBookingModal').data('ride-id');

        console.log("comments: ", comments); // Debugging statement
        console.log("Ride ID: ", rideId);     // Debugging statement

        // Check if driverId is correctly retrieved
        if (!comments) {
            console.error("comments is missing");
            alert("comments is missing.");
            return;
        }

        $.ajax({
            url: '{% url "telecallercancel_ride" %}',
            type: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify({ comments: comments, ride_id: rideId }),
            contentType: 'application/json; charset=utf-8',
            success: function(result) {
                console.log("Success: ", result);
                alert("Submitted successfully.");
                location.reload(); // Reload page after successful assignment
            },
            error: function(xhr, status, error) {
                console.error("Error: ", xhr.responseText);
                alert('Failed to assign driver.');
            }
        });
    });

    // Modal Show Event
    $('#cancelBookingModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var rideId = button.data('ride-id'); // Extract ride ID from data-* attributes
        var modal = $(this);
        modal.data('ride-id', rideId); // Store ride ID in modal attribute

        console.log("Modal shown for Ride ID: ", rideId); // Debugging statement
    });

});
</script>

<script>

    function EditRide(ride_id) {
        var action = confirm("Are you sure you want to edit this ride?");
        if (action !== false) {
            window.location.href = "telecallerEditRide/" + ride_id;
        }

        function HistoryRide(ride_id) {
            window.location.href = "telecallerRideHistory/" + ride_id; // Add a slash here
        };
    };    


    function makeCall(phoneNumber, rideDetails) {
        // Retrieve existing call history data from localStorage
        let callHistoryData = JSON.parse(localStorage.getItem('callHistoryData')) || [];

        // Add the current ride details to the call history
        callHistoryData.push(rideDetails);

        // Store the updated call history back in localStorage
        localStorage.setItem('callHistoryData', JSON.stringify(callHistoryData));

        // Make the call
        window.location.href = 'tel:' + phoneNumber;
    }
</script>
<style>
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }


</style>
{% endblock content %}
