{% load static %}
   <!--************
            Sidebar start
        *************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'cusaddbooking' %}" aria-expanded="false"><i class="icon icon-form"></i><span
                        class="nav-text">Book Now</span></a></li>

                    <li><a href="{% url 'previous' %}" aria-expanded="false"><i class="icon icon-form"></i><span
                        class="nav-text">Previous Bookings</span></a></li>

                    <li><a href="{% url 'current' %}" aria-expanded="false"><i class="icon icon-form"></i><span
                        class="nav-text">Current Bookings</span></a></li>

                    <!-- <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon icon-form"></i><span class="nav-text">Bookings</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'addbooking' %}">Add Bookings</a></li>
                            <li><a href="{% url 'ridelist' %}">View Current Bookings</a></li>
                            <li><a href="{% url 'advance_bookings' %}">View Advance Bookings</a></li>
                            <li><a href="{% url 'pending_bookings' %}">View Pending Bookings</a></li>
                            <li><a href="{% url 'view_assigned_rides' %}">View Assigned Bookings</a></li>
                            <li><a href="{% url 'view_assignlater' %}">View AssignLater Bookings</a></li>
                            <li><a href="{% url 'cancelledbookings' %}">View Cancelled Bookings</a></li>
                            <li><a href="{% url 'ongoing_rides' %}">View Ongoing Bookings</a></li>
                            <li><a href="{% url 'completed_rides' %}">View Completed Bookings</a></li>
                        </ul>
                    </li> -->


                </ul>
            </div>


        </div>
        <!--************
            Sidebar end
        *************-->