{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
 <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Add Ride Type</h4>
                            <!-- <span class="ml-1">Element</span> -->
                        </div>
                    </div>

                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <a href="{% url 'ridetypeList' %}" style="color: white;"><button  class="btn btn-primary">View Service Type</button></a>
                        <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>   
                    </div>
                </div>
                <!-- row -->
                <!-- <div class="row"> -->
                    <div class="col-xl-12">

                        <div class="card">
                            <div class="card-header">
                                <!-- <h4 class="card-title">Add Ride Type</h4> -->
                            </div>
                            <div class="card-body">
                                <!-- <div class="basic-form"> -->
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Service Id </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-lg" id="company_format" name="company_format" value="{{ next_company_format }}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Service Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-lg" id="name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                                    </div>

                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $("#save_action").click(function (event) {
            event.preventDefault();

            var name = $('#name').val().trim().toLowerCase().replace(/[\s_]+/g, '');
            var company_format = $('#company_format').val();
            
            if (name.trim() === '') {
                alert("Please enter ride type name.");
                return;
            }

            console.log("name :", name);
           
            $.ajax({
                url: '{% url "check_ridetype" %}',
                type: "GET",
                data: { name: name },
                success: function (data) {
                    if (data.exists) {
                        alert("Service name already exists.");
                    } else {
                        // Proceed with form submission

                    $.ajax({
                        url: '{% url "addridetype" %}',
                        type: "POST",
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: { name : name,company_format : company_format },
                        success: function (result) {
                            console.log("result ***: ", result);
                            alert("Ride Type added");
                            location.href = "{% url 'ridetypeList' %}";
                        },
                        error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

 {% endblock content%}    
