{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'pricinglist' %}" style="color: white !important;">View Price</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>
 
        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Add Price</h6>
                    </div>
                </div>

                <div class="card-body">
                                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Category</label>
                        <div class="col-sm-12">
                            <select id="category" name="category" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Category</option>
                                {% for obj in catlist %}
                                <option value="{{ obj.category_id }}">{{ obj.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Ride Type</label>
                        <div class="col-sm-12">
                            <select id="ridetype" name="ridetype" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Ride Type</option>
                                {% for obj in rlist %}
                                <option value="{{ obj.ridetype_id }}">{{ obj.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="trip_type_section" style="display: none;">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Trip Type</label>
                        <div class="col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="trip_type" id="one_way" value="one_way">
                                <label class="form-check-label" for="one_way" style="color: black;">One Way</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="trip_type" id="round_trip" value="round_trip">
                                <label class="form-check-label" for="round_trip" style="color: black;">Round Trip</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Car Type</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-lg" id="car_type" name="car_type">
                                <option value="" selected disabled>Select Car Type</option>
                                <option >ac</option>
                                <option >non_ac</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Select Time Slot</label>
                        <div class="col-sm-12">
                            <select class="form-control form-control-lg" id="slots" name="slots">
                                <option value="" selected disabled>Select Time Slot</option>
                                <option value="12AM - 6AM">12AM - 6AM</option>
                                <option value="6AM - 12PM">6AM - 12PM</option>
                                <option value="12PM - 6PM">12PM - 6PM</option>
                                <option value="6PM - 12AM">6PM - 12AM</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Driver Beta</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="driver_beta" name="driver_beta">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Toll Price</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="toll_price" name="toll_price">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Permit</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="permit" name="permit">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Price Per KM</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="price_per_km" name="price_per_km">
                        </div>
                    </div>
                    <br>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#trip_type_section').hide();

        $('#ridetype').change(function () {
            var selectedRideType = $('#ridetype option:selected').text().toLowerCase();
            if (selectedRideType.includes('outstation') || selectedRideType.includes('airport')) {
                $('#trip_type_section').show();
            } else {
                $('#trip_type_section').hide();
            }
        });

        $("#save_action").click(function () {
            var category = $('#category').val();
            var ridetype = $('#ridetype').val();
            var slots = $('#slots').val();
            var driver_beta = $('#driver_beta').val();
            var toll_price = $('#toll_price').val();
            var car_type = $('#car_type').val();
            var permit = $('#permit').val();
            var price_per_km = $('#price_per_km').val();
            var trip_type = $('input[name="trip_type"]:checked').val();

            if (!category || !ridetype || !price_per_km || !slots || !car_type) {
                alert("All fields are required.");
                return;
            }

            $.ajax({
                url: '{% url "addpricing" %}',
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    ridetype: ridetype,
                    category: category,
                    price_per_km: price_per_km,
                    slots: slots,
                    driver_beta: driver_beta,
                    toll_price: toll_price,
                    car_type: car_type,
                    trip_type: trip_type,
                    permit: permit
                },
                success: function (result) {
                    alert("Pricing details added successfully.");
                    location.href = "{% url 'pricinglist' %}";
                },
                error: function (xhr, status, error) {
                    var response = xhr.responseJSON;
                    if (xhr.status === 400 && response.status === "Duplicate") {
                        alert(response.message);  // Show the specific message returned from the server
                    } else {
                        alert("An error occurred while adding pricing details.");
                        console.error(xhr.responseText);
                    }
                }
            });
        });
    });
</script>
 {% endblock content%}    
