{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'package_order_list' %}" style="color: white !important;">View Orders</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>


        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Add Package Orders</h6>
                    </div>
                    </div>

                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Customer</label>
                        <div class="col-sm-10">
                            <select id="customer" name="customer" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Customer</option>
                                {% for customer in customers %}
                                <option value="{{ customer.customer_id }}">{{ customer.customer_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Package</label>
                        <div class="col-sm-10">
                            <select id="package" name="package" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Package</option>
                                {% for package in packages %}
                                <option value="{{ package.package_id }}">{{ package.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Total Amount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control form-control-lg" id="total_amount" name="total_amount">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pickup Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control autocomeple_g" id="source" name="source" maxlength="1000">
                            <i class="far fa-location-dot"></i>                        
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Drop Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control autocomeple_g" id="destination" name="destination" maxlength="1000">
                            <i class="far fa-location-dot"></i>                        
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pick up Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control form-control-lg date-picker" id="pickup_date" name="pickup_date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Pick up Time</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control form-control-lg pickup-time" id="pickup_time" name="pickup_time">
                            <div id="timeError" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Payment Method</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_method" id="upi" value="UPI">
                                <label class="form-check-label" for="upi" style="color: black;">UPI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_method" id="cash" value="Cash">
                                <label class="form-check-label" for="cash" style="color: black;">Cash</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment_method" id="card" value="Card">
                                <label class="form-check-label" for="card" style="color: black;">Card</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Status</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-lg" id="status" name="status">
                                <option value="active" selected disabled>Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#save_action").click(function () {
            var customer = $('#customer').val();
            var package = $('#package').val();
            var total_amount = $('#total_amount').val();
            var source = $('#source').val();
            var destination = $('#destination').val();
            var pickup_date = $('#pickup_date').val();
            var pickup_time = $('#pickup_time').val();
            var payment_method = $('input[name="payment_method"]:checked').val();
            var status = $('#status').val();

            // if (!customer || !package || !total_amount || !payment_method || !status) {
            //     alert("All fields are required.");
            //     return;
            // }

            console.log('customer',customer)
            console.log('package',package)
            console.log('status',status)

            $.ajax({
                url: '{% url "add_package_order" %}',
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: { customer: customer, package: package, total_amount: total_amount, payment_method: payment_method, status: status,source: source,destination: destination,pickup_date: pickup_date,pickup_time: pickup_time, },
                success: function (result) {
                    alert("Package Order added successfully");
                    location.href = "{% url 'package_order_list' %}";
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

<script>
    function initAutocomplete() {
          const inputs = document.querySelectorAll('.autocomeple_g');
    
    
          inputs.forEach(input => {
          const autocomplete = new google.maps.places.Autocomplete(input);
    
          autocomplete.addListener('place_changed', function() {
            const place = autocomplete.getPlace();
            if (!place.geometry) {
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }
            console.log('Place details for', input.id, ':', place);
            });
            });
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAXVR7rD8GXKZ2HBhLn8qOQ2Jj_-mPfWSo&libraries=places&callback=initAutocomplete';
            script.async = true;
            script.defer = true;
            document.head.appendChild(script);
        });



      // Initialize datepicker
    $('.date-picker').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        todayHighlight: true,
        startDate: new Date() // Set start date to today
    });

    // Datepicker change event listener
    $('.date-picker').change(function() {
        var selectedDate = new Date($(this).val());
        var today = new Date();

        today.setHours(0, 0, 0, 0);
        
        if (selectedDate < today) {
            $(this).val(''); // Clear invalid date
            $(this).addClass('is-invalid');
            $('#dateError').text('Please select a future date.');
        } else {
            $(this).removeClass('is-invalid');
            $(this).addClass('is-valid');
            $('#dateError').text('');
        }
    });

</script>


{% endblock content %}
