{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi Welcome Back!</h4>
                </div>
            </div>

            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item"><a href="{% url 'addbooking' %}" style="color: white !important;">Add Booking</a></li>
                    <li class="breadcrumb-item"><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-0 d-flex justify-content-between align-items-center" style="background-color: #F3797E;">
                            <h6 class="text-white text-capitalize ps-3" style="color: white !important;">CompletedBookings</h6>
                            <button id="toggleFilterReport" class="btn btn-primary me-3">Show</button>
                        </div>

                        <div class="card-body px-0 pb-2">
                            <div class="filter_report" style="display:none;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="example">
                                            <p class="mb-1">Select Date</p>
                                            <input id="single-date-picker" class="form-control" type="text"
                                                placeholder="Select Date">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="example">
                                            <p class="mb-1">Select Date Range</p>
                                            <input id="date-range-picker" class="form-control" type="text"
                                                placeholder="Select Date Range">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="mb-1">Time Frame</p>
                                            <select id="time-frame" class="form-control form-control-lg">
                                                <option value="">Select Time Frame</option>
                                                <option value="today">Today</option>
                                                <option value="yesterday">Yesterday</option>
                                                <option value="this-month">This Month</option>
                                                <option value="last-month">Last Month</option>
                                                <option value="this-year">This Year</option>
                                                <option value="last-year">Last Year</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="mb-1">Service Type</p>
                                            <select id="single-select" class="form-control form-control-lg">
                                                <option value="">Select Service</option>
                                                {% for service in services %}
                                                <option value="{{ service.ridetype_id }}">{{ service.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="mb-1">Booking Id</p>
                                            <select id="single-select1" class="form-control form-control-lg">
                                                <option value="">Select Booking Id</option>
                                                {% for booking in bookings %}
                                                <option value="{{ booking.ride_id }}">{{ booking.company_format }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="mb-1">Vehicle Type</p>
                                            <select id="vehicle-type" class="form-control form-control-lg">
                                                <option value="">Select Vehicle type</option>
                                                {% for category in categories %}
                                                <option value="{{ category.category_id }}">{{ category.category_name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="mb-1">Vehicle ID</p>
                                            <select id="vehicle-id" class="form-control form-control-lg">
                                                <option value="">Select Vehicle ID</option>
                                                {% for vehicle in vehicles %}
                                                <option value="{{ vehicle.vehicle_id }}">{{ vehicle.company_format }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <p class="mb-1">Driver ID</p>
                                            <select id="driver-id" class="form-control form-control-lg">
                                                <option value="">Select Driver ID</option>
                                                {% for driver in drivers %}
                                                <option value="{{ driver.driver_id }}">{{ driver.company_format }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label>From Time</label>
                                        <input id="from-time-picker" type="time" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <label>To Time</label>
                                        <input id="to-time-picker" type="time" class="form-control">
                                    </div>

                                </div>
                            </div><br>

                            <div class="table-responsive p-0">
                                <div class="mb-3">
                                    <button id="download-excel" class="btn btn-success">Download Excel</button>
                                    <button id="download-csv" class="btn btn-primary">Download CSV</button>
                                    <button id="download-pdf" class="btn btn-danger">Download PDF</button>
                                </div>
                                <table class="table align-items-center justify-content-center mb-0">
                                    <thead>
                                        <tr style="color: black !important;">
                                            <th>Serial No</th>
                                            <th>BookingId/ PickupTime/ PickupDate</th>
                                            <th>Name/Mobile/Email/Address</th>
                                            <th>Pickup Place</th>
                                            <th>Drop Place/Service</th>
                                            <th>Customer Comments</th>
                                            <th>RateDetails VehicleType A/c or Non A/c</th>
                                            <th>Vehicle Id Type/Driver Name/ ph No</th>
                                            <th>Booked by</th>
                                            <th>AssignedBy/ assignedOn</th>
                                            <th>Invoice</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for i in object_list %}
                                        <tr style="color: #030000;" data-ridetype="{{ i.ridetype_id }}"
                                            data-rideid="{{ i.ride_id }}"
                                            data-categoryid="{{ i.driver.vehicle.model.brand.category.category_id }}"
                                            data-vehicleid="{{ i.driver.vehicle.vehicle_id }}"
                                            data-driverid="{{ i.driver_id }}">
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                {{ i.company_format }}<br>
                                                <div style="color: blue;">{{ i.pickup_time }}</div>
                                                <div style="color: blue;">{{ i.pickup_date }}</div>
                                            </td>
                                            <td>
                                                {{ i.customer.customer_name }}<br>
                                                <div style="color: red;">{{ i.customer.phone_number }}</div>
                                                <div>{{ i.customer.email }}</div>
                                                <div style="color: blue;">{{ i.customer.address }}</div>

                                            </td>
                                            <td>{{ i.source }}</td>
                                            <td>{{ i.destination }}<br>
                                                <button class="btn btn-success " style="height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 5px;">{{i.ridetype.name }}</button>
                                            </td>
                                            <td>{{ i.customer_notes }}</td>

                                            <td>
                                                <div>
                                                    <button class="btn btn-info" style="height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 5px;">{{i.driver.vehicle.company_format }}</button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success " style="height: 30px; padding-top: 0; padding-bottom: 0; margin-bottom: 5px;">{{i.driver.vehicle.Vehicle_Number }}</button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-warning " style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{i.driver.vehicle.model.brand.brand_name }}</button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-danger" style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{i.driver.vehicle.model.model_name }}</button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success " style="height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 10px; margin-bottom: 5px;">{{i.driver.vehicle.model.brand.category.category_name }}</button>
                                                </div>

                                                <div>{{ i.driver.name }}</div>
                                                <div>{{ i.driver.phone_number }}</div>
                                            </td>

                                            <td><button class="btn btn-warning ">{{ i.total_fare }}</button>
                                            </td>

                                            <td><span class="badge badge-pill bg-gradient-danger">{{i.created_by}}</span><br>
                                                <div style="color: blue;">{{i.booking_datetime}}</div>
                                            </td>
                                            <td>
                                                <span class="badge badge-pill bg-gradient-danger">{{ i.assigned_by }}</span>
                                                <div style="color: blue;">{{ i.assigned_on }}</div>
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-primary invoice-btn" data-ride-id="{{ i.ride_id }}">Invoice</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script>
                document.getElementById('download-excel').addEventListener('click', function () {
                    const table = document.querySelector('#example');
                    const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });
                    XLSX.writeFile(wb, 'completed_bookings.xlsx');
                });

                document.getElementById('download-csv').addEventListener('click', function () {
                    const table = document.querySelector('#example');
                    const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet JS" });
                    XLSX.writeFile(wb, 'completed_bookings.csv', { bookType: 'csv' });
                });

                document.getElementById('download-pdf').addEventListener('click', function () {
                    const { jsPDF } = window.jspdf;
                    const doc = new jsPDF();
                    doc.autoTable({ html: '#example' });
                    doc.save('completed_bookings.pdf');
                });

                $('#toggleFilterReport').click(function () {
                    var filterReport = $('.filter_report');
                    filterReport.toggle();
                    $(this).text(filterReport.is(':visible') ? 'Hide' : 'Show');
                });


                $(document).ready(function () {
                    $("#single-select, #single-select1, #vehicle-type, #vehicle-id, #driver-id, #time-frame").select2();
                    flatpickr("#single-date-picker", {
                        dateFormat: "Y-m-d",
                        onChange: filterTable
                    });
                    flatpickr("#date-range-picker", {
                        mode: "range",
                        dateFormat: "Y-m-d",
                        onChange: filterTable
                    });

                    var table = $('#example').DataTable();

                    $('#from-time-picker, #to-time-picker').on('change', filterTable);
                    $('#single-select, #single-select1, #vehicle-type, #vehicle-id, #driver-id, #time-frame').on('change', filterTable);

                    function filterTable() {
                        var serviceType = $('#single-select').val();
                        var bookingId = $('#single-select1').val();
                        var vehicleType = $('#vehicle-type').val();
                        var vehicleId = $('#vehicle-id').val();
                        var driverId = $('#driver-id').val();
                        var singleDate = $('#single-date-picker').val();
                        var dateRange = $('#date-range-picker').val();
                        var fromTime = $('#from-time-picker').val();
                        var toTime = $('#to-time-picker').val();
                        var timeFrame = $('#time-frame').val();

                        var startDate = null, endDate = null;
                        if (dateRange) {
                            var dates = dateRange.split(" to ");
                            if (dates.length === 2) {
                                startDate = new Date(dates[0]);
                                endDate = new Date(dates[1]);
                                endDate.setHours(23, 59, 59, 999);
                            }
                        }

                        var today = new Date();
                        var selectedStartDate = null;
                        var selectedEndDate = null;

                        if (timeFrame === "today") {
                            selectedStartDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
                            selectedEndDate = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 23, 59, 59, 999);
                        } else if (timeFrame === "yesterday") {
                            selectedStartDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);
                            selectedEndDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1, 23, 59, 59, 999);
                        } else if (timeFrame === "this-month") {
                            selectedStartDate = new Date(today.getFullYear(), today.getMonth(), 1);
                            selectedEndDate = new Date(today.getFullYear(), today.getMonth() + 1, 0, 23, 59, 59, 999);
                        } else if (timeFrame === "last-month") {
                            selectedStartDate = new Date(today.getFullYear(), today.getMonth() - 1, 1);
                            selectedEndDate = new Date(today.getFullYear(), today.getMonth(), 0, 23, 59, 59, 999);
                        } else if (timeFrame === "this-year") {
                            selectedStartDate = new Date(today.getFullYear(), 0, 1);
                            selectedEndDate = new Date(today.getFullYear(), 11, 31, 23, 59, 59, 999);
                        } else if (timeFrame === "last-year") {
                            selectedStartDate = new Date(today.getFullYear() - 1, 0, 1);
                            selectedEndDate = new Date(today.getFullYear() - 1, 11, 31, 23, 59, 59, 999);
                        }

                        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                            var row = $(table.row(dataIndex).node());
                            var pickupDateText = row.find('td:nth-child(2) div:nth-child(3)').text().trim();
                            var pickupTimeText = row.find('td:nth-child(2) div:nth-child(2)').text().trim();

                            var pickupDate = new Date(pickupDateText);
                            var pickupTime = parseTime(pickupTimeText);
                            var showRow = true;

                            if (singleDate) {
                                var selectedDate = new Date(singleDate);
                                selectedDate.setHours(0, 0, 0, 0);
                                pickupDate.setHours(0, 0, 0, 0);
                                if (pickupDate.getTime() !== selectedDate.getTime()) {
                                    showRow = false;
                                }
                            }

                            if (startDate && endDate && showRow) {
                                if (pickupDate < startDate || pickupDate > endDate) {
                                    showRow = false;
                                }
                            }

                            if (selectedStartDate && selectedEndDate && showRow) {
                                if (pickupDate < selectedStartDate || pickupDate > selectedEndDate) {
                                    showRow = false;
                                }
                            }

                            if (fromTime && toTime && showRow) {
                                var fromParsed = parseTime(fromTime);
                                var toParsed = parseTime(toTime);
                                var pickupDateTime = new Date(pickupDate);
                                pickupDateTime.setHours(pickupTime.getHours(), pickupTime.getMinutes(), pickupTime.getSeconds());

                                if (pickupDateTime < fromParsed || pickupDateTime > toParsed) {
                                    showRow = false;
                                }
                            }

                            if (serviceType && row.data('ridetype') != serviceType) showRow = false;
                            if (bookingId && row.data('rideid') != bookingId) showRow = false;
                            if (vehicleType && row.data('categoryid') != vehicleType) showRow = false;
                            if (vehicleId && row.data('vehicleid') != vehicleId) showRow = false;
                            if (driverId && row.data('driverid') != driverId) showRow = false;

                            return showRow;
                        });

                        table.draw();
                        $.fn.dataTable.ext.search.pop();
                    }

                    function parseTime(timeString) {
                        var timeParts = timeString.split(':');
                        if (timeParts.length !== 2) return null;

                        var hours = parseInt(timeParts[0], 10);
                        var minutes = parseInt(timeParts[1], 10);
                        if (isNaN(hours) || isNaN(minutes)) return null;

                        var parsedTime = new Date();
                        parsedTime.setHours(hours, minutes, 0, 0);

                        return parsedTime;
                    }
                });


            </script>

            <style>
                .mb-1 {
                    color: black;
                }

                .loading-message {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(255, 255, 255, 0.9);
                    border: 1px solid #ccc;
                    padding: 20px;
                    z-index: 1000;
                    text-align: center;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    color: black;
                }
            </style>

            <script>
                $(document).on('click', '.invoice-btn', function (e) {
                    e.preventDefault();
                    var rideId = $(this).data('ride-id');

                    var loadingMessage = $('<div class="loading-message">Please wait, we are generating invoice...</div>');
                    $('body').append(loadingMessage);
                    loadingMessage.fadeIn();

                    $.ajax({
                        url: `/superadmin/invoice/${rideId}/`,
                        type: "GET",
                        success: function (result) {
                            loadingMessage.fadeOut(function () {
                                $(this).remove();
                            });

                            if (result.success) {
                                alert(result.message);
                            } else {
                                alert(result.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            loadingMessage.fadeOut(function () {
                                $(this).remove();
                            });
                            alert("An error occurred while generating the invoice.");
                        }
                    });
                });
            </script>

            {% endblock %}