{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Detail Color View</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <!-- <h4 class="card-title">Edit Color</h4> -->
                </div>

                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg"
                            style="color: #454545; font-size: 16px;">Car Color Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" value="{{ clist.name }}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Created On</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{% if clist.created_on %}{{ clist.created_on|date:'Y-m-d' }}{% endif %}" disabled>
                        </div>

                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Updated On</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{% if clist.updated_on %}{{ clist.updated_on|date:'Y-m-d' }}{% endif %}" disabled>
                        </div>
                    </div><br>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Created By</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg" value="{{ clist.created_by }}" disabled>
                        </div>

                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Updated By</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-lg"  value="{{ clist.updated_by }}" disabled>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
