{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'ridetypeList' %}" style="color: white !important;">View Service Type</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>
 
        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Edit Service Type</h6>
                    </div>
                    </div>

                <div class="card-body">
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="ridetype_id" name="ridetype_id" value="{{ rtlist.0.ridetype_id }}">
                        <input type="hidden" class="form-control" id="original_name" name="original_name" value="{{ rtlist.0.name }}">
 
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Service Id</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="company_format" name="company_format"  value="{{ rtlist.0.company_format }}" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">* Service Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="name" name="name" value="{{ rtlist.0.name }}">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_action").click(function () {
            event.preventDefault();

            var company_format = $('#company_format').val();
            var name = $('#name').val().trim().toLowerCase().replace(/[\s_]+/g, '');
            var ridetype_id = $('#ridetype_id').val();
            var original_name = $('#original_name').val().trim().toLowerCase().replace(/[\s_]+/g, '');

            if (name.trim() === '') {
                alert("Please enter ride type name.");
                return;
            }

            if (name === original_name) {
                submitForm(name, ridetype_id, company_format);
            } else {
                $.ajax({
                    url: "{% url 'check_ridetype' %}",
                    type: "GET",
                    data: { 'name': name },
                    success: function (data) {
                        if (data.exists) {
                            alert("service type name already exists.");
                        } else {
                            if (confirm("Are you sure you want to save this service type?")) {
                                submitForm(name, ridetype_id, company_format);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('AJAX error:', error);
                    }
                });
            }
        });

        function submitForm(name, ridetype_id, company_format) {
            $.ajax({
                url: "{% url 'Updateridetype' %}",
                type: "POST",
                data: {
                    'name': name,
                    'ridetype_id': ridetype_id,
                    'company_format' : company_format
                },
                headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                success: function (result) {
                    console.log("result val: ", result);
                    if (result['success']) {
                        alert("service type details edited successfully");
                        window.location.href = "{% url 'ridetypeList' %}";
                    } else {
                        alert("Failed to edit service type details: " + result['message']);
                    }
                },
                error: function (xhr, status, error) {
                    console.log('AJAX error:', error);
                }
            });
        }
    });

</script>

{% endblock content%}
