{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'packages_list' %}" style="color: white !important;">View Packages</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                        <h6 class="text-white text-capitalize ps-3" style="color: white !important;">Edit Packages</h6>
                    </div>
                    </div>

                <div class="card-body">
                                    
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="package_id" name="package_id" value="{{ plist.0.package_id }}"> 
                        
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Package Name</label>
                        <div class="col-sm-12">
                            <select id="package_name" name="package_name" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Package Name</option>
                                {% for obj in pnlist %}
                                <option value="{{ obj.package_name_id }}" {% if obj.package_name_id == plist.0.package_name.package_name_id %} selected {% endif %}>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Category Name</label>
                        <div class="col-sm-12">
                            <select id="package_category" name="package_category" class="form-control form-control-lg">
                                <option value="" selected disabled>Select Package Category</option>
                                {% for obj in pclist %}
                                <option value="{{ obj.package_category_id }}" {% if obj.package_category_id == plist.0.package_category.package_category_id %} selected {% endif %}>
                                    {{ obj.category_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Select Car Type</label>
                        <div class="col-sm-12">    
                        <select class="form-control form-control-lg" id="car_type" name="car_type">
                            <option value="" selected disabled>Select Car Type</option>
                            <option value="AC" {% if plist.0.car_type == "AC" %} selected {% endif %}>AC</option>
                            <option value="NON AC" {% if plist.0.car_type == "NON AC" %} selected {% endif %}>NON AC</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Description</label>
                        <div class="col-sm-12">                                            
                            <textarea class="form-control" rows="2" id="description" name="description">{{ plist.0.description }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Price</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-control-lg" id="price" name="price" value="{{ plist.0.price }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Features</label>
                        <div class="col-sm-12">                                            
                            <textarea class="form-control" rows="2" id="features" name="features">{{ plist.0.features }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Extra Km</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="extra_km" name="extra_km" value="{{ plist.0.extra_km }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Extra Charges</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-lg" id="extra_charges" name="extra_charges" value="{{ plist.0.extra_charges }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label col-form-label-lg" style="color: #454545; font-size: 16px;">Select Status</label>
                        <div class="col-sm-12">    
                        <select class="form-control form-control-lg" id="status" name="status">
                            <option value="" selected disabled>Select Status</option>
                            <option value="active" {% if plist.0.status == "active" %} selected {% endif %}>Active</option>
                            <option value="inactive" {% if plist.0.status == "inactive" %} selected {% endif %}>Inactive</option>
                        </select>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-2" id="save_action">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#save_action").click(function (event) {
            event.preventDefault();
            var package_id = document.getElementById('package_id').value;
            var package_name = document.getElementById('package_name').value;
            var package_category= document.getElementById('package_category').value;
            var description = document.getElementById('description').value;
            var price = document.getElementById('price').value;
            var features = document.getElementById('features').value;
            var status = document.getElementById('status').value;
            var extra_km = document.getElementById('extra_km').value;
            var extra_charges = document.getElementById('extra_charges').value;
            var car_type = document.getElementById('car_type').value;

            if (!package_name || !package_category || !price ||!car_type ) {
                alert("All fields are required.");
                return;
            }

            if (confirm("Are you sure you want to save this package?")) {
                $.ajax({
                    url: '{% url "UpdatePackages" %}',
                    type: "POST",
                    data: { 'package_id':package_id, 'package_name': package_name, 'package_category': package_category, 'description': description, 'price': price, 'features': features, 'status': status, 'extra_km':extra_km, 'extra_charges':extra_charges, 'car_type':car_type },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (result) {
                        console.log("result val: ", result);
                        if (result['success']) {
                            alert("Packages details edited successfully");
                            window.location.href = "{% url 'packages_list' %}";
                        } else {
                            alert("Failed to edit package details: " + result['message']);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('AJAX error:', error);
                        alert("An error occurred: " + xhr.responseText);
                    }
                });
            }
        });
    });
</script>

{% endblock content %}
