{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Price History for Price ID: {{ pricing.pricing_id }}</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex" >
                <ol class="breadcrumb" style="background-color: #98BDFF;">
                    <li class="breadcrumb-item" ><a href="{% url 'pricinglist' %}" style="color: white !important;">View Pricing</a></li>
                    <li class="breadcrumb-item" ><a href="javascript:history.back()" style="color: white !important;">Go Back</a></li>
                </ol>
            </div>
        </div>

                    <div class="row">
                        <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #F3797E;">
                                <h6 class="text-white text-capitalize ps-3" style="color: white !important;">History Records</h6>
                            </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr style="color: black !important;">
                                        <th>Serial No</th>
                                            <th>Ride Type </th>
                                            <th>Category </th>
                                            <th>Slot</th>
                                            <th>Price per KMs</th>
                                            <th>Beta</th>
                                            <th>Toll Price</th>
                                            <th>Tip</th>
                                            <th>Permit</th>
                                            <th>Created On</th>
                                            <th>Updated On</th>
                                            <th>Created by</th>
                                            <th>Updated by</th>
                                    </tr>
                                </thead>
                                <tbody style="color: #030000;">
                                    {% for record in history %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ record.ridetype.name }}</td>
                                        <td>{{ record.category.category_name }}</td>
                                        <td>{{ record.slots }}</td>
                                        <td>{{ record.price_per_km }}</td>
                                        <td>{{ record.driver_beta }}</td>
                                        <td>{{ record.toll_price }}</td>
                                        <td>{{ record.tip }}</td>
                                        <td>{{ record.permit }}</td>
                                        <td>{{ record.created_on }}</td>
                                        <td>{{ record.updated_on }}</td>
                                        <td>{{ record.created_by }}</td>
                                        <td>{{ record.updated_by }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
    
    
    
