{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Price History for Price ID: {{ pricing.pricing_id }}</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="{% url 'pricinglist' %}" style="color: white;"><button  class="btn btn-primary">View Price</button></a>
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">History Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Serial No</th>
                                            <th>Ride Type </th>
                                            <th>Category </th>
                                            <th>Slot</th>
                                            <th>Price per KMs</th>
                                            <th>Beta</th>
                                            <th>Toll Price</th>
                                            <th>Tip</th>
                                            <th>Permit</th>
                                            <th>Created On</th>
                                            <th>Updated On</th>
                                            <th>Created by</th>
                                            <th>Updated by</th>
                                    </tr>
                                </thead>
                                <tbody style="color: #030000;">
                                    {% for record in history %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ record.ridetype.name }}</td>
                                        <td>{{ record.category.category_name }}</td>
                                        <td>{{ record.slots }}</td>
                                        <td>{{ record.price_per_km }}</td>
                                        <td>{{ record.driver_beta }}</td>
                                        <td>{{ record.toll_price }}</td>
                                        <td>{{ record.tip }}</td>
                                        <td>{{ record.permit }}</td>
                                        <td>{{ record.created_on }}</td>
                                        <td>{{ record.updated_on }}</td>
                                        <td>{{ record.created_by }}</td>
                                        <td>{{ record.updated_by }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
    
    
    
