{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Package Order History for {{ package_order.package.name }}</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="{% url 'package_order_list' %}" style="color: white;">
                    <button class="btn btn-primary">View Package Orders</button>
                </a>
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">History Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Serial No</th>
                                        <th>Package Name</th>
                                        <th>Customer</th>
                                        <th>Order Date</th>
                                        <th>Total Amount</th>
                                        <th>Pickup Location</th>
                                        <th>Drop Location</th>
                                        <th>Pickup Date</th>
                                        <th>Pickup Time</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody style="color: #030000;">
                                    {% for record in history %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ record.package.name }}</td>
                                        <td>{{ record.customer.name }}</td>
                                        <td>{{ record.order_date }}</td>
                                        <td>{{ record.total_amount }}</td>
                                        <td>{{ record.source }}</td>
                                        <td>{{ record.destination }}</td>
                                        <td>{{ record.pickup_date }}</td>
                                        <td>{{ record.pickup_time }}</td>
                                        <td>{{ record.payment_method }}</td>
                                        <td>{{ record.status }}</td>
                                        <td>
                                            <div>{{ record.created_on }}</div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
