{% extends 'superadmin/base.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>

            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="{% url 'addvehicle' %}" style="color: white;"><button  class="btn btn-primary">Add Car</button></a>
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Car List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Serial No</th>
                                        <th>Vehicle Id</th>
                                        <th>Owner Name / Owner Mobile</th>
                                        <!-- <th>Owner Mobile</th> -->
                                        <th>Commission Type</th>
                                        <th>Vehicle Number</th>
                                        <th>Category/Brand/ Model</th>
                                        <th>Download Document</th>
                                        <th>Image</th>
                                        <th>Vehicle Status</th>
                                        <th>Reason</th>
                                        <th>Created On</th>
                                        <th>Verified On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in object_list %}
                                    <tr style="color: #030000;">
                                        <td>{{ forloop.counter }}</td>
                                        <td><div>{{ i.company_format }}</div>
                                            <div>
                                                <span class="badge badge-pill badge-{% if i.verification_status == 'verified' %}success{% else %}danger{% endif %}" 
                                                    onclick="VerifyVehicle('{{ i.vehicle_id }}', '{{ i.owner.verification_status }}')">
                                                    {% if i.verification_status == 'verified' %}
                                                    Verified
                                                    {% else %}
                                                    Not Verified
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>{{ i.owner.name }}</div>
                                            <div style="color: red;">{{ i.owner.phone_number }}</div>
                                        </td>
                                        <td>{{ i.commission_type.commission_name }}</td>
                                        <td style="color: green;">{{ i.Vehicle_Number }}</td>
                                        <td>
                                            <div>{{ i.model.brand.category.category_name }}</div>
                                            <div>{{ i.model.brand.brand_name }}</div>
                                            <div>{{ i.model.model_name }}</div>
                                        </td>
                                        <td><a href="{% url 'download_vehicle_documents' i.vehicle_id %}" class="btn btn-info"><i class="fa fa-download"></i></a></td>
                                        <td>
                                            {% if i.model.brand.category.image %}
                                                <img src="{{ i.model.brand.category.image.url }}" alt="Image" style="max-width: 100px;">
                                            {% else %}
                                                No Image
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="badge {% if i.model.brand.category.category_status == 'inactive' or i.owner.status == 'inactive' %}badge-danger{% else %}{% if i.vehicle_status == 'active' %}badge-success{% else %}badge-danger{% endif %}{% endif %}">
                                                {% if i.model.brand.category.category_status == 'inactive' or i.model.brand.status == 'inactive' or i.model.status == 'inactive' or i.owner.status == 'inactive' %}
                                                    inactive
                                                {% else %}
                                                    {{ i.vehicle_status }}
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>{{i.block_reason}}</td>
                                        <td style="color: red;">{{ i.created_on }}</td>
                                        <td>
                                            {% if i.verified_on %}
                                            {{ i.verified_on }}
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </td>
                                        <td style="display: flex; justify-content: center; align-items: center;">
                                            {% if i.vehicle_status == 'active' %}
                                            <a href="#" class="btn btn-primary" onclick="EditVehicle('{{ i.vehicle_id }}')"><i class="fa fa-edit"></i></a>&nbsp;
                                            {% endif %}
                                            <a href="#" class="btn btn-secondary" onclick="DeleteVehicle('{{ i.vehicle_id }}')"><i class="fa fa-trash"></i></a>&nbsp;
                                            <a href="#" class="btn btn-warning" onclick="HistoryVehicle('{{ i.vehicle_id }}')"><i class="fa fa-clock"></i></a>&nbsp;
                                            <a href="{% url 'vehicle' i.vehicle_id %}" class="btn btn-info"><i class="fa fa-eye"></i></a>&nbsp;
                                            {% if i.model.brand.category.category_status != 'inactive' and i.model.brand.status != 'inactive' and i.model.status != 'inactive' and i.owner.status != 'inactive' %}
                                            <button class="btn {% if i.vehicle_status == 'active' %}btn-success{% else %}btn-danger{% endif %}" onclick="toggleVehicleStatus('{{ i.vehicle_id }}', '{{ i.vehicle_status }}')" {% if i.owner.status != 'active' %}disabled{% endif %} >
                                                <i class="fa {% if i.vehicle_status == 'active' %}fa-thumbs-up{% else %}fa-thumbs-down{% endif %} text-white"></i>
                                            </button>
                                            {% else %}
                                            <button class="btn btn-link p-0 disabled" title="Cannot Change Status" style="border: none; background: none;">
                                                <span class="badge badge-danger">
                                                    <i class="fa fa-thumbs-down text-white fa-2x"></i> 
                                                </span>
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="blockReasonModal" tabindex="-1" role="dialog" aria-labelledby="blockReasonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blockReasonModalLabel">Block Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="blockRideId">
                <div class="form-group">
                    <label for="blockReason">Reason</label>
                    <textarea id="blockReason" class="form-control" rows="3" placeholder="Enter block reason" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitBlockReason()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteVehicle(vehicle_id){
        var action = confirm("Are you sure you want to delete this vehicle?");
        if (action != false) {
            $.ajax({
                url: "{% url 'DeleteVehicle' %}",
                data: {
                    'vehicle_id': vehicle_id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        alert("Vehicle Deleted Successfully");
                        window.location.href = "{% url 'vehiclelist' %}";
                        $("#vehicle_id #i-" + vehicle_id).remove();
                    }
                }
            });
        }
    }

    function EditVehicle(vehicle_id) {
        var action = confirm("Are you sure you want to edit this vehicle?");
        if (action !== false) {
            window.location.href = "EditVehicle/" + vehicle_id;
        }
    };

    function HistoryVehicle(vehicle_id) {
        window.location.href = "VehicleHistory/" + vehicle_id; // Add a slash here
    };

    function VerifyVehicle(vehicle_id, owner_verification_status) {
    if (owner_verification_status !== 'verified') {
        alert("This vehicle owner is not verified. You cannot verify this vehicle.");
        return;
    }
    
    var action = confirm("Have you verified this vehicle?");
    if (action != false) {
        $.ajax({
            url: '{% url "VerifyVehicle" %}', // Ensure you have this URL correctly configured
            data: {
                'vehicle_id': vehicle_id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.verified) {
                    alert("Vehicle Verified Successfully");
                    location.reload(); // Reload the page to update the status
                }
            }
        });
    }
}

</script>
<script>
    function toggleVehicleStatus(vehicle_id, current_status) {
    var new_status = current_status === 'active' ? 'inactive' : 'active';
    var confirmation = confirm("Are you sure you want to " + (current_status === 'active' ? "deactivate" : "activate") + " this vehicle?");
    if (confirmation) {
        if (new_status === 'inactive') {
            var blockReason = prompt("Please provide a reason for blocking the vehicle:");
            if (blockReason === null) {
                return; // User cancelled the prompt
            }
        } else {
            var blockReason = '';
        }

        $.ajax({
            url: '{% url "vehicleupdate_status" %}',
            type: 'POST',
            data: {
                'vehicle_id': vehicle_id,
                'new_status': new_status,
                'block_reason': blockReason,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    alert("Vehicle status updated successfully.");
                    window.location.reload();
                } else {
                    alert("Failed to update Vehicle status: " + data.message);
                }
            },
            error: function (xhr, status, error) {
                alert("An error occurred: " + error);
            }
        });
    }
}
</script>
{% endblock content %}
