{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>

            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="{% url 'add_airportpricing' %}" style="color: white;"><button  class="btn btn-primary">Add Airport Price</button></a>
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Airport Price List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                    <th>Serial No</th>
                                    <th>City Name</th>
                                    <th>Vehicle Type</th>
                                    <th>Trip Type</th>
                                    <th>Customer Charge(Non AC)</th>
                                    <th>Customer Charge(AC)</th>
                                    <th>Commission Type/Driver Per Km Charge/Dead Per KM Charge</th>
                                    <th>Commission(%)</th>
                                    <th>Tax(%)/Toll Charges</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr style="color: #030000;">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.city }}</td>
                                    <td>{{ i.car_category.brand.category.category_name }}</td>
                                    <td>{{ i.trip_type }}</td>
                                    <td>
                                        <div><h6 style="color: blue;">Min Amount:</h6>{{ i.customer_min_amount_non_ac }}</div>
                                        <div><h6 style="color: blue;">Max Km Rate:</h6>{{ i.driver_max_km_per_day_non_ac }}</div>
                                        <div><h6 style="color: blue;">Extra Km Rate:</h6>{{ i.customer_extra_km_charge_non_ac }}</div>
                                    </td>
                                    <td>
                                        <div><h6 style="color: blue;">Min Amount:</h6>{{ i.customer_min_amount_ac }}</div>
                                        <div><h6 style="color: blue;">Max Km Rate:</h6>{{ i.driver_max_km_per_day_ac }}</div>
                                        <div><h6 style="color: blue;">Extra Km Rate:</h6>{{ i.customer_extra_km_charge_ac }}</div>
                                    </td>
                                    <td>
                                        <div>{{ i.driver_per_km_commission_type }}</div>
                                        <div>{{ i.driver_per_km_commission_charge }}</div>
                                        <div>{{ i.dead_per_km_charge }}</div>
                                    </td>
                                    <td>
                                        <div><h6 style="color: blue;">Company:</h6>{{ i.company_commission }}</div>
                                        <div><h6 style="color: red;">Driver:</h6>{{ i.driver_commission_percentage }}</div>
                                    </td>
                                    <td>
                                        <div><h6 style="color: red;">Tax:</h6>{{ i.gst_tax_percentage }}</div>
                                        <div><h6 style="color: blue;">Toll Charges:</h6>{{ i.toll_charge }}</div>
                                    </td>
                                    <td>{{ i.created_on }}</td>
                                    <td>{{ i.updated_on }}</td>
                                    <td style="display: flex; justify-content: center; align-items: center;">
                                        <a href="#" class="btn btn-primary"  onclick="EditAirportPrice('{{i.ride_pricing_id}}')"><i class="fa fa-edit"></i></a>&nbsp;
                                        <a href="#" class="btn btn-secondary" onclick="DeleteAirportPrice('{{i.ride_pricing_id}}')"><i class="fa fa-trash"></i></a>&nbsp;
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script>
    function DeleteAirportPrice(ride_pricing_id){
        var action = confirm("Are you sure you want to delete this Airport pricing details?");
        if (action != false) {
          $.ajax({
              url: '{% url "delete_airportprice" %}',
              data: {
                  'ride_pricing_id': ride_pricing_id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    alert("Airport Pricing Deleted Successfully");
                    window.location.href = "{% url 'view_airportprice' %}";
                    $("#ride_pricing_id #i-" + ride_pricing_id).remove();
                  }
              }
      
          });
      
      }
      }
    function EditAirportPrice(ride_pricing_id) {
        var action = confirm("Are you sure you want to edit this Airport pricing?");
        if (action !== false) {
            window.location.href = "editairportprice/" + ride_pricing_id; // Add a slash here
        }
    };

</script>
{% endblock content%}

