{% extends 'superadmin/base.html' %}
{% load static %}
{% block content%}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <!-- <span class="ml-1">Datatable</span> -->
                </div>
            </div>

            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="{% url 'addpricing' %}" style="color: white;"><button  class="btn btn-primary">Add Price</button></a>
                <button onclick="history.back()" class="btn btn-danger ml-2">Go Back</button>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Price List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                    <th>Serial No</th>
                                    <th>Ride Type </th>
                                    <th>Category </th>
                                    <th>Slot</th>
                                    <th>Price per KMs</th>
                                    <th>Beta</th>
                                    <th>Toll Price</th>
                                    <th>Permit</th>
                                    <th>car type</th>
                                    <th>Trip Type</th>
                                    <th>Created On</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in object_list %}
                                <tr style="color: #030000;">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.ridetype.name }}</td>
                                    <td>{{ i.category.category_name }}</td>
                                    <td>{{ i.slots }}</td>
                                    <td>{{i.price_per_km }}</td>
                                    <td>{{ i.driver_beta }}</td>
                                    <td>{{ i.toll_price }}</td>
                                    <td>{{ i.permit }}</td>
                                    <td>{{i.car_type}}</td>
                                    <td>{{i.trip_type}}</td>
                                    <td>{{ i.created_on }}</td>
                                   
                                    <td style="display: flex; justify-content: center; align-items: center;">
                                        <a href="#" class="btn btn-primary"  onclick="EditPrice('{{i.pricing_id}}')"><i class="fa fa-edit"></i></a>&nbsp;
                                        <a href="#" class="btn btn-secondary" onclick="DeletePrice('{{i.pricing_id}}')"><i class="fa fa-trash"></i></a>&nbsp;
                                        <a href="#" class="btn btn-warning" onclick="HistoryPrice('{{i.pricing_id}}')"><i class="fa fa-clock"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script>
    function DeletePrice(pricing_id){
        var action = confirm("Are you sure you want to delete this pricing details?");
        if (action != false) {
          $.ajax({
              url: '{% url "DeletePrice" %}',
              data: {
                  'pricing_id': pricing_id,
              },
              dataType: 'json',
              success: function (data) {
                  if (data.deleted) {
                    alert("Pricing Deleted Successfully");
                    window.location.href = "{% url 'pricinglist' %}";
                    $("#pricing_id #i-" + pricing_id).remove();
                  }
              }
      
          });
      
      }
      }
    function EditPrice(pricing_id) {
        var action = confirm("Are you sure you want to edit this pricing?");
        if (action !== false) {
            window.location.href = "EditPrice/" + pricing_id; // Add a slash here
        }
    };
    function HistoryPrice(pricing_id) {
        window.location.href = "pricing_history/" + pricing_id; // Add a slash here
    };

</script>
{% endblock content%}

