{% load static %}

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">

                    <li><a href="{% url 'qindex' %}" aria-expanded="false"><i class="icon icon-single-04"></i><span
                        class="nav-text">Quality Dashboard</span></a></li>

                        <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Bookings</span></a>
                            <ul aria-expanded="false">
                                <li><a href="{% url 'qaddbooking' %}">Add Bookings</a></li>
                                <li><a href="{% url 'qridelist' %}">View Current Details</a></li>
                                <li><a href="{% url 'qadvance_bookings' %}">View Advance Bookings</a></li>
                                <li><a href="{% url 'qpending_bookings' %}">View Pending Bookings</a></li>
                                <li><a href="{% url 'qview_assigned_rides' %}">View Assigned Bookings</a></li>
                                <li><a href="{% url 'qongoing_rides' %}">View Ongoing Bookings</a></li>
                                <li><a href="{% url 'qcancelledbookings' %}">View Cancelled Bookings</a></li>
                                <li><a href="{% url 'qcompleted_rides' %}">View Completed Bookings</a></li>
                            </ul>
                        </li>
                    </li>  
                </ul>           
            </div>

        </div>
        